[2018-04-30 19:49] hansmbakker opened #471 "When using an interface that is spread over multiple files (partial interfaces), Refit breaks"
I'm writing a client for an API that has a lot of possible calls. I tried splitting the interface in multiple files by using `partial interface`.

Unfortunately, Refit seems to process code on a per-file basis and therefore generates duplicate code that
then conflicts because it puts them in generated proxies having the same name.

`partial interface` was [mentioned as a possibility](https://githu

[2018-05-02 07:12] wind-rider commented on #471
Yes, that is what I meant with

Maybe the operation can be done faster using Roslyn?

E.g. using https://github.com/aarnott/CodeGeneration.Roslyn

[2018-05-02 10:42] wind-rider commented on #471
Ok, I saw a mix of roslyn and mustache being used and thought there might be room for improvement. I understand that semantic level might be slower but I’m not sure that it will be forbiddingly slow.

I think this is also a point about whether Refit wants to completely support the c# language (which partial interfaces are a valid part of) or that it aims at being a tool that covers the most common

[2018-05-04 22:06] HelloKitty commented on #391
@SetoKaiba I created something similar to Refit/Retrofit that works in Unity3D. In fact I use it in Unity3D myself. It's [Typesafe.Http.Net](https://github.com/hellokitty/typesafe.http.net). It uses Castle.Core instead of code generation to build the Types at runtime. It supports RestSharp too, which some in Unity3D prefer to use. Or at least they used to.

It doesn't have full feature parity with

[2018-05-07 12:35] khalidabuhakmeh commented on #435
This can be done at the `HttpClient` level using a `DelegatingHandler` to make the calls. It's not necessarily a Refit concern. Like @Cheesebaron mentioned, [Polly](https://github.com/App-vNext/Polly) is a good library to use in conjunction with modifying your HttpClient instance.

[2018-05-07 20:48] bennor commented on #435
When we overhaul the docs, it would be great to document an example of using Polly with Refit.

[2018-05-08 18:56] khalidabuhakmeh commented on #435
https://github.com/ziyasal/mstodoapi/blob/d059da7ece871463d2ec24cbf0a2bb7c20e295a8/MSTodoApi/Infrastructure/Http/HttpRetryMessageHandler.cs

[2018-05-10 01:34] tcfialho commented on #443
We need that too!

[2018-05-10 14:42] 4gDad opened #472 "Error trying to add Refit"
I'm running VisualStudio 2017 Mac
When I try and add the Refit nuget I am getting the following error.
Could not find file "/Users/development/Google Drive/Work/myApp.xApp/nugetpackages/runtime.opensuse.13.2-x64.runtime.native.system.security.cryptography.openssl/4.3.2/runtime.opensuse.13.2-x64.runtime.native.system.security.cryptography.openssl.nuspec"

[2018-05-10 15:25] onovotny opened #473 "Update to latest Roslyn bits"
Needed to ensure we don't break while parsing.

[2018-05-10 20:08] 4gDad opened #474 "Refit HTTP method attribute Error"
"IDveClient doesn't look like a Refit interface. Make sure it has at least one method with a Refit HTTP method attribute and Refit is installed in the project."

[2018-05-10 21:28] 4gDad commented on #474
I only get this with the 4.3.0 version 4.2.0 works just fine.

[2018-05-11 14:16] Styxxy commented on #474
Code sample?

[2018-05-14 12:05] wind-rider commented on #473
I'm getting exceptions like
[code]

(my API gives a correct response "7" which I try to parse as an int but somehow this gets replaced by 7.0 which makes Json.Net crash)

Is this what this issue is about?

[2018-05-14 13:22] wind-rider opened #476 "Strange issue with integer vs decimal"
I'm using Refit 4.3.0 in a Xamarin Forms on iOS project.

My API returns the following response (using Safari inspector):
[code]
(free spots and total spots are both `integer` types, which is correct)

However in Refit I get the following response when declaring the response as a string:
[code]
(free spots incorrectly show up as a decimal value, but total spots is an `integer`, which is weird - wh

[2018-05-14 19:42] janaagaard75 commented on #185
Can I find your solution somewhere, @NVentimiglia? I have the same issue as you.

[2018-05-14 19:51] bennor commented on #476
When you declare a response as a string, we pass the response body back unmodified. Is it possible your API is sending results back differently based on the presence or absence of a particular header? If you make a request to your API using curl, Postman or even an `HttpClient` in a console app, what do you get?

This seems like a server problem.

This seems like a server problem.

[2018-05-16 03:02] xljiulang opened #478 "Support for vb.net/f#/c++/cli project"
Replacing Mono.cecli  with Microsoft.CodeAnalysis.CSharp, and injecting IL code after compilation

[2018-05-17 18:10] groogiam opened #479 "Target .NET Standard 2.0"
Are there any plans to update the nuget package to support .NET Standard 2.0? This will greatly simplify the number of dependencies required for .NET Framework and .NET core project deployments.

[2018-05-18 11:15] tiesmaster opened #480 "Add support to force autogenerated classes to be internal"
We started to use Refit, which is really nice, however, it also adds auto generated clients in the NuGet package. Is there a way to exclude it from the assembly, and thus the NuGet package? Since it clobbers the assembly's namespace.

We're using Refit in both a webservice client package, which we distribute as a NuGet package internally. The target framework is the full .NET Framework. And so are

[2018-05-20 05:33] xljiulang commented on #480
you can use [WebApiClient.JIT](https://github.com/dotnetcore/WebApiClient)，a library that uses Emit to create proxy classes, instead of inserting code at compile time

[2018-05-20 20:15] wind-rider commented on #476
@bennor yes I thought the same, really weird case. I'll look into it further.

@onovotny thank you for pointing that feature out! I didn't know it existed! 😮

[2018-05-20 20:15] #476 closed

[2018-05-22 15:13] dupovalo opened #482 "Is it safe to use Refit with System.Net.Http [4.0.0.0] instead of [4.1.1.2]?"
Background for the question:

In Visual Studio for Mac (everything is up-to-date with the stable channel) I created a new Xamarin.Native solution with the following structure and dependencies:
* Project.Core (.NET Standard 2.0)
   |---> .NET Standard [2.0.1]
   |---> Refit [4.4.17]
* Project.Droid (Android v8.1)
   |---> Project.Core
* Project.Ios (Xamarin.iOS)
   |---> Project.Core

Building Proj

[2018-05-23 12:04] onovotny commented on #480
@tiesmaster Not sure I'm following the issue. At compile-time, Refit looks at the directly referenced project and generates an internal implementation class for the interface. It shouldn't be clobbering any namespaces though. This is not runtime assembly generation.

What issues are you seeing?

[2018-05-23 13:11] xljiulang commented on #482
yes

[2018-05-23 15:23] Styxxy opened #483 "Update github page description (url)"
Hi,
Maybe update the description : the specified url http://paulcbetts.github.io/refit/ doesn't exist anymore; I believe it should be http://reactiveui.github.io/refit/ now.

[2018-05-23 21:32] #479 closed

[2018-05-23 21:38] #455 closed

[2018-05-23 21:39] #452 closed

[2018-05-23 21:39] #444 closed

[2018-05-23 21:47] #473 closed

[2018-05-23 22:35] bennor commented on #483
@onovotny I think it means the project description:
![image](https://user-images.githubusercontent.com/1063280/40454732-43480a9e-5f2d-11e8-8f29-0e33edb86767.png)

Even as a contributor, I can't update it. Might need to be done by the "owner" of the repo. I assume that means Paul or another ReactiveUI admin.

[2018-05-23 22:55] onovotny commented on #483
Got it, thanks!

[2018-05-23 22:55] #483 closed

[2018-05-25 11:10] tiesmaster commented on #480
I've made my Refit-interfaces public, but want my autogenerated classes to be internal. PR #168 made them honor the modifier of the interface, but I'd like them always to be internal. Maybe, with an attribute, like the other Refit-stuff. Per type, or per assembly (my preference).

BTW Initially, I didn't knew _how_ Refit worked, so therefore the initial title of this issue. I've changed that to re

[2018-05-28 14:02] mjalil opened #489 "Add support for HttpClient MultipartItem"
Hi Refit members,
I need to be able add `HttpContent` MultipartItem as used in [this library](https://github.com/jlucansky/Camunda.Api.Client/blob/master/Camunda.Api.Client/UserTask/IUserTaskRestService.cs#L114) :

[code]
In the example above `data` and `valueType` are inherited instances of `HttpContent`
[that library](https://github.com/jlucansky/Camunda.Api.Client) without support for `HttpCont

[2018-05-30 15:54] thecontrarycat opened #491 "Using Refit with ASP.Net Core 2.1's HttpClientFactory"
The ASP.Net Core team have created a new way of working with HttpClient: the HttpClientFactory https://github.com/aspnet/HttpClientFactory

The idea behind `HttpClientFactory` is that you no longer need to worry about keeping singleton `HttpClient` instances around.  Instead, you can get as many instances of `HttpClient` as you like from the factory, and the underlying `HttpClientHandler` will hav

[2018-05-30 16:07] thecontrarycat commented on #491
Working commit: https://github.com/thecontrarycat/refit/commit/bf8b0f97c7fb9b9bfd6b2a118283cc8ff5432c7d

[2018-05-30 17:39] gdodd1977 opened #492 "RefitStubs.g.cs showing up in unit test code coverage"
How can I exclude this file if I can't manually alter it? Is there a way to add it to the runsettings file as an exclusion?

[2018-06-01 06:40] bennor commented on #491
I think this is a good idea in theory, but do you have any measurements for the performance improvement?

[2018-06-01 10:30] thecontrarycat commented on #491
All I've done is moved the existing caching to a different place so that people who aren't using a singleton HttpClient can benefit from it in the same way that those with a singleton HttpClient currently do.

I presume the existing caching was put there for a reason :)

[2018-06-01 18:58] fatagun opened #493 "Refit with Polly"
Hello, Sir, man

Is it possible to use Refit with Polly?

If so , any examples?

Respect.

[2018-06-01 19:44] Cheesebaron commented on #493
Just set up a Polly policy and have it retry your api calls. What is there to exemplify?

[2018-06-02 09:31] bennor commented on #491
I'm not sure when the caching was added or why. My only real concern is that we have an outstanding bug relating to concurrency (#449), and I'm not sure if that has anything to do with the existing caching. (I haven't had time to look at it yet - it may not even exist in the latest version.)

[2018-06-02 09:34] bennor commented on #491
Other than a few minor nitpicks, the working commit looks good. I'd be happy to take the PR. Thoughts, @onovotny?

[2018-06-02 17:57] onovotny commented on #491
Certainly happy to take a PR to utilize `IHttpClientFactory`

[2018-06-02 18:42] thecontrarycat commented on #491
#494

[2018-06-03 13:08] fatagun commented on #493
yeah ok done. shit works. thanks.

[2018-06-03 13:08] #493 closed

[2018-06-03 14:47] onovotny commented on #492
Do you really want to exclude this? That does mean that you're not fully testing your app and the methods it uses....

[2018-06-03 14:47] #482 closed

[2018-06-03 14:48] #448 closed

[2018-06-03 14:53] onovotny commented on #489
Merged in, thanks.

[2018-06-03 14:53] #489 closed

[2018-06-03 14:55] onovotny commented on #478
We cannot inject IL code since that does not work on AOT systems like iOS. We need compile-time code generation.

This could still work but we need someone to add appropriate templates for this and update the build task to use the right one.

[2018-06-03 14:58] #480 closed

[2018-06-03 19:50] bennor commented on #492
Isn't it up to us to test the implementations? Code generated by a dependency should be a black box, shouldn't it?

[2018-06-03 19:52] onovotny commented on #492
We do test the generated code. In this case though, it means that they have not written any tests that call that interface method as otherwise it'd show coverage.

Question is where the coverage hit/miss belongs?

It's also likely possible to exclude coverage based on the source file name, depending on the tool you're using.

[2018-06-03 19:56] bennor commented on #492
I guess we also can't add attributes that would hide from coverage because that would interfere with our coverage metrics.

Maybe we can close this then?

[2018-06-03 19:56] onovotny commented on #492
We could figure something out if we needed. Question is what should we do?

[2018-06-03 20:04] bennor commented on #478
Could be a bit more complicated than that for anything other than VB.NET though. I'm no Roslyn expert but I thought it only analysed C# and VB.NET.

[2018-06-04 11:43] gdodd1977 commented on #492
Why would I test generated code from a external library that should already be unit tested? All I'm using refit for is for an interface. All the actual logic is under the hood in the package that should have it's own unit tests.

Also, to clarify, it's not calling the stubs as I do mock the interface. But code coverage gets dinged because that stub class is generated and not tested. That's the poi

[2018-06-04 17:10] matheusneder opened #499 "Customizing RefitStubs.g.cs generatation"
I didn't find a way to customize RefitStubs.g.cs generatation with out editing mustache template in the Refit package.

I'd like to propose a change to InterfaceStubGenerator.ExtractTemplateSource: It'll try get "GeneratedInterfaceStubTemplate.mustache" file from the project directory, if doesn't exists, get it from package directory or embbeded resource just as it is.

This will bring the ability

[2018-06-04 20:44] bennor commented on #499
Why do you need to customise it? And what are you planning on doing?

@onovotny recently merged a change that makes the generated classes partial, allowing for some customisation.

[2018-06-04 20:57] matheusneder commented on #499
At first I'd like to throw customized exception types insteadof ApiException in case of HTTP status not 2xx.

[2018-06-06 12:41] Genri1996 commented on #97
Having similar issue with building in visual studio locally
The command ""C:\Users\Oleh_Kosiakov\Documents\Source\Repos\TRVD\Src\packages\refit.2.4.1\build\portable-net45+netcore45+wp8+wpa81+monoandroid+xamarin.ios10\..\..\tools\InterfaceStubGenerator.exe" "obj\Debug\\RefitStubs.g.cs" "C:\Users\Oleh_Kosiakov\Documents\Source\Repos\TRVD\Src\Epam.GuestGuide.Core" "obj\Debug\\RefitParams.rsp"" exited

[2018-06-06 12:57] onovotny commented on #97
This is a very old version. Please try the latest and open a new issue if there's still a problem. Thanks.

[2018-06-07 08:28] dupovalo commented on #42
@Cheesebaron, what would you say about [this fork of ModernHttpClient](https://github.com/alexrainman/ModernHttpClient)? Is it good option to use with Refit? It appears to be the only client that picks up system proxy settings [properly](https://github.com/reactiveui/refit/issues/123).

[2018-06-12 14:33] mackgammeter opened #500 "Refit Post Attribute Requires Literal Const"
Refit doesn't seem to like the constant reference.
_[Post(WebApiActionsConsts.ValidateAsync)]_

Changing this to a literal string fixed things.
_[Post("/api/Invitation/ValidateAsync")]_

Is there a particular reason for this?

[2018-06-13 10:52] onovotny commented on #499
One concern here is that any external customizations to the template could be fairly brittle. The template today depends heavily on the internal implementation of the request builder. A PR like #494 changes the template significantly as part of the feature work.

We don't have any current plans to formalize the contract since it is an implementation detail at this point to support AOT platforms. O

[2018-06-13 16:34] matheusneder commented on #499
I understood, thanks for feeback.

I'm planning to use Refit in my projects which are most of all aspnet core microservices. As I commented, I'd like to make my clients throwing it's own exception types insteadof ApiException. To handle this, at first, I'll use a dynamic proxy (based on System.Reflection.DispatchProxy), so unfortunatelly, it will not support AOT platforms.

Would you consider prov

[2018-06-13 20:01] gdodd1977 commented on #492
So anything on this?

[2018-06-15 21:43] #492 closed

[2018-06-15 22:21] onovotny commented on #461
Closing since using Refit as source won't work with the current design

[2018-06-15 22:21] #461 closed

[2018-06-15 22:29] onovotny commented on #468
What version of Refit are you using; do you have a simple example that reproduces it? I cannot reproduce this using these snippets with the latest Refit.

[2018-06-15 22:31] onovotny commented on #456
Closing as fixed

[2018-06-15 22:31] #456 closed

[2018-06-15 22:32] #436 closed

[2018-06-15 22:33] onovotny commented on #93
Closing since there is now support for lists

[2018-06-15 22:33] #93 closed

[2018-06-15 22:34] #170 closed

[2018-06-15 22:35] onovotny commented on #196
Closing since generics are now supported. Please try again with the latest.

[2018-06-15 22:35] #196 closed

[2018-06-15 22:36] #418 closed

[2018-06-15 22:37] onovotny commented on #294
There is now support for arrays as url parameters in #454

[2018-06-15 22:37] #294 closed

[2018-06-15 22:37] onovotny commented on #299
Closing as stale. Please try with the latest VSfM and Refit and open a new issue if it still exists.

[2018-06-15 22:37] #299 closed

[2018-06-15 22:54] onovotny commented on #4
Closing for now as stale

[2018-06-15 22:54] #4 closed

[2018-06-18 22:32] s-tarasov commented on #294
:+1:

[2018-06-19 14:46] njannink opened #506 "Cannot open client on localhost with a port"
Hello when I try to generate a refit client for the following uri "http://localhost:5000" I get the following error: URL path must be of the form '/foo/bar/baz'

How can I get a refit client for a local running service which is very common during development/debugging?

[2018-06-19 14:56] Cheesebaron commented on #506
Internally it just uses `BaseAddress = new Uri(hostUrl)`.

Can you describe your environment in more detail? Are you using a custom HttpClientHandler did you try provide your own `HttpClient` with `BaseAddress` set to your URL?

[2018-06-19 15:44] njannink commented on #506
Nevermind this issue.

The problem was in my api client I had there something like [Get("api/v2/something")] instead of [Get("/api/v2/something")]. Maybe the exception test can be improved to include the declaration with an issue so it's easier to pinpoint the problem.

[2018-06-20 19:11] onovotny opened #509 "Transitive build targets aren't added"
The dependency that gets generated by the new Refit.HttpClientFactory package has `exclude="build,analyzers"`, which causes Refit's targets not to be added.

[2018-06-20 19:53] #509 closed

[2018-06-21 12:45] amaters-easy opened #511 "Refit fails Build after upgrade to 4.6.16"
Upgrading from 4.3.0 I get the following error in TeamCity:

[build] ...\.nuget\packages\refit\4.6.16\build\netstandard1.4\refit.targets(29,5): error MSB4062: The "Refit.Generator.Tasks.GenerateStubsTask" task could not be loaded from the assembly ...\.nuget\packages\refit\4.6.16\build\netstandard1.4\..\MSBuildCore20\InterfaceStubGenerator.BuildTasks.dll. Assembly with same name is already loaded

[2018-06-26 08:46] Rassi opened #512 "GenerateStubsTask throws NullReferenceException if service interface is outside namespace"
I accidentally created a RestService interface outside of a namespace and it results in the following message ```.nuget\packages\refit\4.6.16\build\netstandard1.4\refit.targets(29,5): error : Object reference not set to an instance of an object. [C:\temp\refitbug\refitbug.csproj]```

Here is a gist with a .NET Core 2.1 console app: https://gist.github.com/Rassi/39e1e0e50e291ceae8742d15a3b025a1

[2018-06-26 17:14] #506 closed

[2018-06-28 02:06] kyschouv opened #516 "Missing XML comments in RefitStubs generate 1591 when XML documentation is required by the project"
We have some projects with the following:

[code]

We're trying to use Refit, but the generated public classes (in `RefitStubs.g.cs`) are missing xml comments (on at least the constructor). This is causing a compile-time error unless we disable 1591 (which we prefer not to do).

Could you either disable 1591 errors in the generated stubs file, or make sure all public methods are documented?

[2018-06-28 03:28] bennor commented on #516
The error you mention relating to the constructor was fixed recently by #513. It will take effect when the next version is released.

[2018-06-28 03:28] #516 closed

[2018-06-29 10:11] kiwipiet opened #517 "'IRequestBuilder' does not contain a definition for 'InterfaceHttpMethods'"
Hi,

Using refit (4.6.16) with a WPF application using .NET 4.6.1, also tried 4.7.1

When building from Visual Studio (15 and 17) it builds fine in DEBUG and RELEASE.
But on our build server I'm getting the following error:

Any idea what the problem might be?

[2018-06-29 12:30] onovotny commented on #517
How are you building it on your build server? Are you using packages.config for PackageReference? Is it doing a NuGet restore first in the build script?

[2018-06-29 22:28] kiwipiet commented on #517
MSBuild (TFS2013)
Have VS2015 (Update 3) installed on the build server
packages.config

Have a MSBuild target that does a NuGet restore first, for all the solutions in the build.

We are busy building a new TFS2018 Update 2 server and build servers with VS2017, will try it there as soon as it is up and running as well.

Is there something that could be missing that I can go and check for in the bu

[2018-06-30 00:32] kiwipiet commented on #517
So the problem was that we had another solution in the build with an older version of refit.
The build for that solution completed fine, but then this solution failed.
I've upgraded all the projects to use the same version of refit and now the build works.

Thank you.

[2018-06-30 00:32] #517 closed

[2018-07-01 17:49] onovotny commented on #511
This is likely VS caching things. Try closing and restarting VS.

[2018-07-01 22:40] tjmoses commented on #377
@onovotny did you ever resolve this? I am having the same issue.

[2018-07-02 14:16] ssc19940105 opened #518 "Refit fails Build after upgrade to 4.6.16"
ExcludeFromCodeCoverageAttribute is not found in the namespace(System.Diagnostics.CodeAnalysis)

[2018-07-02 14:31] onovotny commented on #518
What is the target framework of the project you're using?

[2018-07-02 14:32] onovotny commented on #491
Implemented, thanks!

[2018-07-02 14:32] #491 closed

[2018-07-02 14:37] ssc19940105 commented on #518
The framwork is 4.6.1.

[2018-07-02 14:43] ssc19940105 commented on #518
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or namespace name 'ExcludeFromCodeCoverage' could not be found (are you missing a using directive or an assembly reference?)	BWHAPI	C:\Users\ssc19\source\repos\BWHTools\BWHAPI\obj\Debug\RefitStubs.g.cs	21	Active

[2018-07-02 15:29] onovotny commented on #518
That has been in System.dll since .NET 4.0:
https://msdn.microsoft.com/en-us/library/system.diagnostics.codeanalysis.excludefromcodecoverageattribute(v=vs.110).aspx

Is there anything special about your project?

[2018-07-02 15:37] ssc19940105 commented on #518
I've added syatem.dll to the project

[2018-07-03 00:17] ssc19940105 commented on #518
This is my code.You can clone from this(https://gitee.com/ssc19940105/BWHTools.git)

[2018-07-03 00:19] ssc19940105 commented on #518
You can update refit to lastest and rest it.

[2018-07-03 12:03] ssc19940105 commented on #518
I solved it by installing System.Diagnostics.Tools.

[2018-07-03 12:15] ssc19940105 commented on #518
May be caused by GAC cache errors.

[2018-07-03 12:23] #518 closed

[2018-07-04 01:13] KhaledMostafaME opened #519 "Support for getting response body (JSON)"
Hello,

I'm using refit to post a JSON to this API and retrive a JSON too.
API: http://www.saudievents.sa/api/EventCalendar/SearchEvents

Here is the project
https://github.com/KhaledMostafaME/Tests/tree/master/DotNetCoreTest

Thanks.

[2018-07-04 23:06] bennor commented on #519
I'm not sure there's a question here. The `ApiResponse` class you have in your example should have a type parameter that defines the class(es) you want the response deserialised into. I can't tell you what that is.

If you just want the raw response, you can have your interface return `Task<string>` to get the body content as a string, or  `Task<HttpResponseMessage>` to get the raw response messag

[2018-07-05 00:12] KhaledMostafaME commented on #519
Thank you for checking, @bennor.

It was silly error in the `ApiResponse` the object here `public IList<Record> Record { get; set; }`
should be like this 'public IList<Record> Record**s** { get; set; }'

[2018-07-05 00:12] #519 closed

[2018-07-05 21:51] aliveli186 opened #520 "AliasAs and Format"
It would be nice to have a Fromat property for AliasAs or seperate FormatAs attribute like this:
[code]

[2018-07-06 05:08] bennor commented on #520
There's actually already _undocumented_ support for this in a few ways.

Do you really need to format dates a special way for just that one property, because Refit already has a mechanism for controlling parameter formatting. (See: https://github.com/reactiveui/refit/blob/master/Refit/RefitSettings.cs#L29.)

You could do something like this:

[code]

Alternatively, if it's a query parameter, you c

[2018-07-06 08:17] aliveli186 commented on #520
@bennor Thank you but I need to format per property, a global formatter is nice but its too global :)

[2018-07-09 09:43] amaters-easy commented on #511
The issue is not Visual studio. We only get the error on teamCity where we us the CLI "dotnet build" which will automatically restore all nuget packages

[2018-07-09 15:15] andrewchaa opened #521 "System.MissingMethodException: Constructor on type ... error when .NET 4.6.1 project references .NET Standard 2 package"
Refit on my .NET 461 project has been working well, until I've added a .NET Standard 2 nuget package,
 [FunctionalWay](https://www.nuget.org/packages/FunctionalWay/0.6.0) to the project. Then the same code starts breaking, saying "System.MissingMethodException: Constructor on type '...AutoGeneratedIRestaurantEventApi' not found."

If I remove the .NET Standard 2 nuget package, it works well again.

[2018-07-10 12:11] wozzo opened #522 "Request object collection not serialized correctly"
I have a search request class which has a collection which needs to be serialized as a comma delimited list, but it is currently being sent as System.String%5B%5D
[code]

the client is
[code]

But the uri it ends up as is` /search?Wibble=System.String%5B%5D`. Any ideas what I'm doing wrong?

[2018-07-10 20:20] bennor commented on #522
I'm not sure the `Query` attribute is designed to work inside request objects. It definitely works for a parameter.

[2018-07-11 09:34] wozzo commented on #522
I still have the same issue without the `Query` attribute

[2018-07-11 09:39] bennor commented on #522
I think you misunderstood. What I meant was that AFAIK the query attribute only works for method parameters -- not on properties of a request class.

[2018-07-12 10:23] bennor commented on #522
If you look at `RequestBuilderImplementation.cs`, it converts request objects to querystring parameters in the `BuildQueryMap` method.

However, the only reference to `QueryAttribute` is here -- before the call to `BuildQueryMap`: https://github.com/reactiveui/refit/blob/master/Refit/RequestBuilderImplementation.cs#L504

[2018-07-13 14:58] Styxxy commented on #512
I submitted PR #524 to fix this.

One small note: the generated class will be placed into a namespace "AutoGenerated" + interfacename.

[2018-07-16 12:43] SergeyKharchenko commented on #511
Had absolutely the same issue

[2018-07-16 18:48] Jerry-li-uw opened #525 "ApiException not serializable"
I use Refit for Rest calls and I have got an error when serializing an ApiExceiton. I've found ApiException a non-serializable type.
Why is it not serializable? Are there any plans to make it serializable?

[2018-07-18 06:14] RomanKernSW commented on #525
I dont know what exactly the problem is, but you don't provide any information about your problem.
Full namespace and some code snippets will help alot ;)

[2018-07-19 08:40] klowdo commented on #511
Same issue for me on VSTS

[2018-07-19 10:32] iss0 opened #526 "HttpClientFactoryExtensions.AddRefitClient<T> bug for generic interfaces"
I think I've found a bug when using the extension method Refit.HttpClientFactoryExtensions.AddRefitClient<T> to initialize a generic interface.

Given the following interface:
[code]
calling the extension method like:
[code]
results in having every ICrudApi<T> using the same base address which is wrong for all but the last one added to the service collection.

This is because within the extension

[2018-07-19 12:05] onovotny commented on #511
Do you have a repro that can be shared? Could you have mixed versions of Refit in the solution?

[2018-07-19 12:17] #512 closed

[2018-07-19 12:18] onovotny commented on #526
Sounds like a bug.

The name logic should probably be the same as https://github.com/reactiveui/refit/blob/master/Refit/RestService.cs#L60-L76 to ensure there's a 1:1 match.

[2018-07-19 14:55] SergeyKharchenko commented on #511
@klowdo,
1. Create ConsolApp with .NetFramework 4.6.1
2. Add Refit package via Nuget
3. Open console and run `dotnet build` command

[2018-07-19 14:56] onovotny commented on #511
What template are you using for the console app? Is it an SDK style project or a legacy project?

[2018-07-19 15:02] SergeyKharchenko commented on #511
The one that Visual Studio 17 provide

[2018-07-19 15:04] onovotny commented on #511
They have both depending on what node you use to create it. Bottom line is that you cannot use `dotnet build` on non-SDK projects. You have to use `msbuild`.

You can tell by looking at the csproj file. If the top element is `Project` with an `Sdk` attribute, that's ok. Otherwise, there's tons of junk in it, it's legacy.

[2018-07-19 15:10] SergeyKharchenko commented on #511
I don't think that Microsoft thinks that .NetFramework is legacy. Of course it is another platform (Windows only). Other dependencies works fine with `dotnet build` command on this project.

[2018-07-19 15:13] onovotny commented on #511
It's not about .net framework being legacy. There are two project systems. Refit adds build targets and they work differently.

What kind of csproj is it?

[2018-07-19 15:33] wozzo commented on #522
The QueryAttribute is a bit of a red herring. If you have a collection on a request object it is serialized using the .ToString() implementation instead of being put onto the query string using either the CSV or Multi type options. I can reproduce with a unit test, but have yet to figure out what needs to change to fix it.

The unit test is

[code]

With the following interface and class set up as

[2018-07-19 15:38] SergeyKharchenko commented on #511
Old one

[2018-07-19 15:53] onovotny commented on #511
ok, so you have to use `msbuild /restore myproject.cspoj` on it. Otherwise, it's undefined and you just got lucky with `dotnet build`

[2018-07-19 16:05] onovotny commented on #521
Do you have a repro we can look at?

[2018-07-19 18:20] SergeyKharchenko commented on #511
I can confirm that with new format of `.csproj` file everything works. Thank you

[2018-07-19 18:23] onovotny commented on #511
The new format is much cleaner/easier to deal with too...lots of good benefits.

[2018-07-19 20:05] bennor commented on #522
You would need to look for `QueryAttribute` when enumerating an object's properties in `BuildQueryMap`.

[2018-07-20 13:39] Taliesin60 opened #527 "Issue when updating Refit 3.1 to 4.6.16"
Hello.

We use Refit to make REST interface in C# project with NuGet package.
We use actually the 3.1 and want to upgrade to 4.6.16.

When we do this, we have a problem with a method which return unfiltered informations.

[Get("/?{queryParams}&{filter}")]
Task<ListResult<DocumentResource>> Search(DocumentSearchFilter filter, string queryParams);

When we call :
http://localhost/api/documents/?type

[2018-07-20 19:37] hansmbakker opened #528 "'ExcludeFromCodeCoverageAttribute' is inaccessible due to its protection level"
When targeting netstandard 1.4 in a SDK style project using VS 2017 15.8 Preview 4, I get the error
`'ExcludeFromCodeCoverageAttribute' is inaccessible due to its protection level in the generated code.` (twice).

I found https://github.com/reactiveui/refit/issues/518, but that is targeting netframework 4.6.1 instead of netstandard 1.4.

I deleted the `obj` and `bin` folders, rebuilt the project,

[2018-07-20 19:42] onovotny commented on #528
We may have to revert adding `ExcludeFromCodeCoverageAttribute` entirely. We can't change the visibility to external since it can conflict with others.

The alternative is to try to pass the TFM in to the code-gen task, but that can get nasty when parsing all the variants.

[2018-07-20 20:05] wind-rider commented on #528
You're quick!

The reason I'm trying to target 1.4 is that it is supported by build 14393 which is the lowest build supported by the freshly released [WinUI](https://docs.microsoft.com/nl-nl/uwp/toolkits/winui/) library. If I could up the minimum version to 16299 that would give me netstandard 2.0 support, but most of my colleagues are still running 15063 on their laptops..

Does that also apply t

[2018-07-20 20:13] wind-rider commented on #528
My workaround is to downgrade Refit to 4.5.6.

[2018-07-20 21:07] onovotny commented on #528
That applies to all editions of Windows 10. You can see the dates here:

https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet

15063 is 1703, and it's end of support date is October 9, 2018. After then, everyone has to be on 16299 or higher, meaning everyone can use netstandard 2.0.

[2018-07-20 21:42] wind-rider commented on #528
Yes, and there is a small writing below the table indicating that `Enterprise and Education editions for versions 1511, 1607, 1703 and 1709 will receive an additional 6 months of servicing after the end of service date.`.

[2018-07-20 21:47] onovotny commented on #528
Fair enough, not sure I care :) Gotta pick a time sometime.

[2018-07-23 06:58] Styxxy commented on #525
According the (Microsoft .NET) guidelines, exceptions should be serializable (eg. marked with the SerializableAttribute). Resources:

* https://docs.microsoft.com/en-us/dotnet/standard/exceptions/how-to-create-user-defined-exceptions (though I doesn't state yet it should be serializable; though it is mentioned in an open content issue).
* https://msdn.microsoft.com/en-us/library/ms229064(v=vs.100)

[2018-07-23 18:11] PaddoSwam opened #530 "Mentioning the PATCH HTTP verb"
I noticed that the PATCH verb is not mentioned in the documentation, however it _is_ built in.

And I also have a fix for this already: https://github.com/reactiveui/refit/pull/529

[2018-07-24 13:08] wozzo commented on #522
If I change the collection type to be object[] then it will serialise using the Multi style (e.g. A=1&A=2&A=3...), so it looks like there is a bug for serialising collections where the type is known and a possible enhancement to allow using the `QueryAttribute` for properties on classes used as request objects. Does that sound right?

[2018-07-26 23:56] hiraldesai opened #531 "Question: generic response processor"
I'm using dotnet core HttpClientFactory and Refit together (and loving it!). This is not a dotnet core related question but here is what I'm trying to do.

Imagine the following API - except it has many different methods and return types other than string and int as per the example.

[code]

I want to avoid having to write the `  catch (ApiException e)` everywhere and just change the signature of

[2018-07-27 01:31] bennor commented on #531
Does [`ApiResponse<T>`](https://github.com/reactiveui/refit/blob/master/Refit/ApiResponse.cs) do what you want?

[code]

It doesn't give you access to the raw response if there's an error, but it won't throw if there is one.

[2018-07-27 16:46] hiraldesai commented on #531
It makes it better but I'm looking for something like `ApiResponse<TSuccess, TFailure>`. Not suggesting that the framework should support it but I was thinking if there was a way to write a generic response processor for a given API where I can do this on my own so I don't write too many bolierplate `catch (ApiException e)` everywhere.

[2018-07-28 21:16] DamianAntonowicz opened #532 "can't build refit"
I'm trying to build refit on my local machine but I'm getting this error:

[code]

Here is my OS info:

[code]

What am I missing?

[2018-07-29 06:17] ssc19940105 opened #533 "Need to support proxy"
Need to support proxy

[2018-07-29 06:53] bennor commented on #533
There is support for proxies by specifying your own `HttpClient` when creating an API client.

[2018-07-29 06:53] #533 closed

[2018-07-30 12:04] ssc19940105 opened #535 "Need to support proxy"
Need to support proxy.Thanks.

[2018-07-30 14:35] glennawatson commented on #535
See #533. Closing.

[2018-07-30 14:35] #535 closed

[2018-07-30 23:46] onovotny commented on #511
We've identified the cause and have a solution to this. Will be fixed in the next release later tonight.

[2018-07-31 02:53] #511 closed

[2018-07-31 17:44] Styxxy commented on #530
@PaddoSwam the PR is merged, you can close this issue.

If you mention fix #issue in the PR, it would have been automatically done :) .

[2018-07-31 17:50] PaddoSwam commented on #530
I'll remember that! 👍

[2018-07-31 17:50] #530 closed

[2018-08-01 15:04] Veikedo opened #537 "ApiResponse<T> tries to deserealize response even for non-success codes"
I don't know if it is by design, but it makes impossible to deserialize error in response - because the RequestBuilderImplementation,BuildCancellableTaskFuncForMethod already closed the response stream.

With such a behavior this issue #531 can't be done using ApiResponse<T> as suggested [here](https://github.com/reactiveui/refit/issues/531#issuecomment-408284094)

btw it's not so cool to get the

[2018-08-01 15:05] Veikedo commented on #531
@hiraldesai @bennor solution with ApiResponse<T> won't work. Please see #537

[2018-08-01 17:42] Veikedo commented on #537
create PR #538

[2018-08-02 18:33] ehouarn-perret opened #539 "Add a file as part of a multiformdatacontent?"
Is there any way to add a file as part of a multiformdatacontent:

Currently I have something like that (obviously used with a `HttpClient`):
[code]

How does it translate with the refit paradigm?

[2018-08-03 04:14] hiraldesai opened #540 "Configurable base paths for one API"
I am trying to use Refit for an API that has weird routing/paths that are not very RESTful. It has the same base url but each function has its own unique Guid and couple of other things. I want to make these things configurable. Is it doable?

    public interface ISomeApi
    {
        [Get("{some-configurable-value-1}/{id}")]
        Task<Something> GetSomething(string id);

        [Get("{some-

[2018-08-03 04:29] bennor commented on #540
I'm not sure if this covers it, but you can provide those arguments as parameters:

[code]

The other option is the one you suggested -- using a different base URL for two different interfaces.

Did you have any other ideas for how an alternative might work?

[2018-08-03 04:30] bennor commented on #540
Also, if your API is really that simple, you could make it generic:

[code]

[2018-08-03 06:58] #527 closed

[2018-08-03 08:05] hiraldesai commented on #540
Great - the parameter option will work for me! And no, the API isn't as simple to put a generic on it.

[2018-08-06 07:41] Styxxy commented on #532
How are you building? Which command do you use?
Did you do a (nuget) restore before building?

[2018-08-06 14:39] Thorgard commented on #449
Encountered the same issue.

[2018-08-06 20:45] couven92 commented on #75
+1

[2018-08-07 01:12] hiraldesai commented on #540
Is there an attribute I can use to `Uri.UnescapeDataString(path)`?

[code]

My path value here is of the format `/path/to/object/{id}`.

[2018-08-07 01:44] hiraldesai commented on #540
Closing because this was a trivial change for me. Also it's more readable anyway since the actual API parameters for me were more along the lines of `/{apiName}/{apiVersion}/{apiPath}/{id}` and so on.

[2018-08-07 01:44] #540 closed

[2018-08-09 09:28] agat366 opened #541 "BodySerializationMethod Raw mode."
Hi!

In regards to https://github.com/reactiveui/refit/issues/329, what do you think of adding "Raw" mode for the passed data.

The issue is that in case if I need the value to be parsed as follows on the Web Api side: `[FromBody]string code`, I should define refit parameter this way `[Body(BodySerializationMethod.UrlEncoded)] Dictionary<string, object> data` and then call the endpoint like this `

[2018-08-09 16:43] kamran-pervaiz opened #542 "Add Custom TypedClient with Refit"
I am having issue when I am trying to add a custom client with Refit as I dont want httpClient. The reason to do is that I dont want my consumers to change httpclient configuration when they are consuming my refit implemented Client. Separation of concerns I guess.

I have a class CustomHttpClient which is inherited from httpClient.

[code]

I am getting exception:

AddTypedClient adds the client

[2018-08-10 11:17] kamran-pervaiz opened #543 "Cannot deserialize when Status code is not 200"
I have a CustomHttpClientHandler and try/catch block but its not hitting catch for ApiException.

[code]

I am not sure why it is not hitting catch block at all. it just fails my test and shows below description on reshaper

[code]
any suggestion?

[2018-08-10 12:19] nesterenko-kv opened #544 "Stub generator fails when `using` directive in namespace declaration"
If `using` directive appear within a namespace declaration stub generator omit them and build wrong file.
Sample:
[code]

[2018-08-10 15:27] lukepuplett opened #545 "A base above ApiResponse<T> so we can extend collections of responses"
Hello all,

I'd like to extend a collection of API response objects but given that they're generic `ApiResponse<T>` I can't. I can write the extension method but if each response has a different `T` then I can't use it.

If all the properties except `Content` were moved to a base `IResponseInformation` or something, then I think I could extend a collection of them, like so:

[code]

[code]

Though

[2018-08-13 17:01] kamran-pervaiz commented on #543
update: it seems it was not the exception which was causing the issue. I am not sure what to do when Refit cannot deserialize to stated object. for example:

[code]
When status code is 404 e.g. it Tries to deserialize in Resource and fails. Could you please suggest if there is a way to handle or send null response back to consumer?

[2018-08-14 09:38] lukepuplett commented on #545
Just adding for clarity. All properties except `T Content` could be extracted into an interface which would allow extensions.

Or those properties could go on a base class leaving `T Content`.

    public class ApiResponse<T> : ResponseInformation

Though an interface would suffice.

[2018-08-14 11:37] Veikedo commented on #543
@kamran-pervaiz use ApiResponse<T>

[2018-08-16 07:16] RomanKernSW commented on #441
@fugaku can you please provide the code for your fix? I have similar problem.

[2018-08-16 09:28] RomanKernSW opened #547 "MissingMethodException"
Hi, I currently try to create new rest client with custom certificates. The client itself is stored in Unity container (4.0.1). If I try to resolve, following exception pop up:

Message

*Void Refit.RefitSettings.set_HttpMessageHandlerFactory(System.Func1<System.Net.Http.HttpMessageHandler>)*
\
and stack trace

*bei DependencyRegistration.CreateClient(IUnityContainer container)
   bei Microsoft.Pr

[2018-08-16 16:12] kamran-pervaiz commented on #543
@Veikedo could you please elaborate a bit more what do you mean by ApiResponse<T> ?

[2018-08-17 07:00] RomanKernSW commented on #547
The problem is solved. I'm currently mixing the new project file (from .net core/standard) with old one... to resolve the problem, just install system.net.http nuget package

[2018-08-17 07:00] #547 closed

[2018-08-17 13:19] Veikedo commented on #543
@kamran-pervaiz ah, you can actually just override JsonSerializerSettings. ie

     return RestService.For<T>(httpClient, new RefitSettings
      {
        JsonSerializerSettings = new JsonSerializerSettings
        {
          Error = (sender, args) => args.ErrorContext.Handled = true,
          ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
          NullValueHandling = NullValueHandling.

[2018-08-17 13:19] Veikedo commented on #543
also there is related issue #537

[2018-08-17 22:28] gsgou commented on #75
+1

[2018-08-20 04:11] fugaku commented on #441
You can use that settings through the settings object

[code]

[2018-08-22 11:29] ApolonTorq opened #550 "Question: Is there any tool or library which implements server side controllers based on an implementation of a Refit interface?"
I'm a newbie to Refit, but it strikes me that a client-side Refit interface is most of the server side specification needed. My impression is that it would be beneficial for some web API infrastructure to automatically configure up a controller based on an implementation of the Refit interface on the server side  (maybe with some additional attributes). Does such tooling exist?

[2018-08-24 07:47] Styxxy commented on #550
You could write integration tests, that do service calls to your API (locally hosted in the test) and you can verify everything keeps on working.

[2018-08-24 19:13] albilaga commented on #539
Bumping this issue. I wrote the question in StackOverflow like this https://stackoverflow.com/questions/51753141/multipart-content-with-refit

When I try use Multipart it always showing the exception.

[2018-08-27 07:59] vatsalyagoel commented on #539
Hi @albilaga Maybe a dumb question but do you have a global content type set in your Refit Implementation?

[2018-08-27 08:02] vatsalyagoel commented on #539
Hi @ehouarn-perret,
please have a look at https://github.com/reactiveui/refit#multipart-uploads.

You will either need a StreamPart or a ByteArrayPart with the name of file in the request.

Then decorate your request with the multipart attribute.

[2018-08-27 13:42] ehouarn-perret commented on #539
@vatsalyagoel , thanks I know I will try this out whenever I can

[2018-08-28 12:47] #543 closed

[2018-08-29 08:01] Necronux commented on #39
@alexandru-calinoiu shouldn't that be called spaghetti auth?

[2018-08-29 11:57] Deilan commented on #277
This is a must-have one. :)

[2018-08-29 12:49] Deilan commented on #339
It's worth to mention that `CancellationToken` is supported in the docs. Along with an example. :)

[2018-08-29 15:32] OlafHaalstra commented on #75
+1

[2018-08-29 15:40] Arithmomaniac commented on #75
The +1s predate the 👍 reaction. They're not needed anymore to signal approval.

[2018-08-30 07:35] venkatkancheti opened #551 "How to Verify Refit API is supporting TLS 1.2"
Hi Team,

I have changed the Settings of my mobile app to support TLS 1.2 as per the documentation mentioned below.

https://blog.xamarin.com/securing-web-requests-with-tls-1-2/

Please let me know whether Refit supports TLS 1.2 migration?
if yes can i know can we verify the same.

Thanks
Venkat K

[2018-08-30 07:39] bennor commented on #551
That should work. You can provide a custom `HttpClientHandler` to an `HttpClient` and pass that to `RestService.For()`.

[2018-08-30 10:01] venkatkancheti commented on #551
Hi @bennor,

Thanks for the quick reply.

If we call the below without creating new custom HttpClient handler will it support the same.
In Android added Dependency service:

**In Android Project:**
  HttpClient httpClient = new HttpClient(new AndroidClientHandler()) { BaseAddress =  new Uri(url) } ;

**In PCL Call:**
  HttpClient client = await DependencyService.Get<IHttpClientHandler>().GetHttpCl

[2018-08-30 17:49] albilaga commented on #539
@vatsalyagoel No I don't set any global content type

[2018-09-02 20:28] Styxxy commented on #544
This is because you used the shortened using declaration (line 6 and 7). If you were to use the full namespace, it wouldn't be a problem.

[2018-09-03 08:07] Necronux opened #552 "Namespace of Refit is not visible when Refit is transitive Nuget dependency"
I have 2 projects:

Project A: references Refit's NuGet package and defines interfaces
Project B: references Project A NuGet package

When I try to use `Refit.RestService.For` in Project B it says that:

![image](https://user-images.githubusercontent.com/3116731/44974842-20b19e80-af61-11e8-89e1-6ccbb8b8243b.png)

Why does that happen? Do I need to separately add Refit NuGet to my project B?

Proje

[2018-09-03 08:28] Necronux commented on #552
I don't know what caused this but it's fixed... fucking NuGet.

[2018-09-03 08:28] #552 closed

[2018-09-04 01:27] kamcma commented on #145
Would it be possible to configure a Refit client in a C# class library, and then consume that from an F# project? Without doing anything special, I get the same error as @dboris above, but perhaps there is some csproj compiler property to, I don't know exactly, vend only compiled artifacts?

[2018-09-04 17:56] Cheesebaron commented on #551
Newer versions of Refit require you to upgrade your library to NET Standard.

Refit doesn't manage anything in regards to TLS 1.2, it is merely calling HttpClient. Hence, this is up to the HttpClientHandler used.

If you are using AndroidClientHandler, it should work.

[2018-09-05 13:00] nhwilly commented on #471
@bennor Splitting them into multiple interfaces was the approach I was thinking about.  Glad I found someone who's doing this.

I noticed that [RestLess](https://github.com/letsar/RestLess/blob/master/README.md) has done some benchmarks (shown in that link) and noted that there was some overhead to be eliminated with their technique (avoiding reflection, I believe).

But I have a **bunch** of endp

[2018-09-10 00:32] juepiezhongren opened #553 "InterfaceStubGenerator.App seems to have nothing to do with other projects?"
I'm begging to see how BuildTask for stub creation is triggered while refit is referenced into my project.... And got confused that InterfaceStubGenerator.App seems to have nothing to do with other projects.

eager for answers

[2018-09-11 01:32] KhaledMostafaME opened #555 "How I can get the Current Request URL of the RestService/Response"
Hello,

I need to get the request/response URL after making the request.
var apiResponse = RestService.For<ILibyaAPI>(ip);
var result = await apiResponse.GetMainParents();

[2018-09-11 03:16] bennor commented on #555
If you use `ApiResponse`, I think it's available on the request message.

[2018-09-11 03:43] KhaledMostafaME commented on #555
Thanks, that worked.
Another thing, is there any way to get if before making the request?
Because I need to cache the request is cached or not before doing it.

[2018-09-16 23:27] bennor commented on #555
Probably your best bet there is to write a custom [`DelegatingHandler`](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/httpclient-message-handlers) and use that when you create an `HttpClient`:

[code]

[2018-09-21 16:52] Zexuz commented on #471
This is how I imagined it.
`IGithubApi .cs`
[code]

`IGithubRepoProject.cs`
[code]
`IGithubProjectColumns.cs`
[code]
`IGithubProjectCards.cs`
[code]

## Pros

- Better project/file structure.
- Only needing one API
- Every endpoint can be in a separate interface.
- Less code

## Cons
- Slower performance (?)

[2018-09-29 15:09] onovotny commented on #537
I've fixed this, but in a slightly different way. You can now get the `ApiException` directly as the `Error` property on the `ApiResponse`.

[2018-10-01 12:54] Dilsy99 opened #558 "Content is null when ApiResponse followed by EnsureSucessStatusCodeAsync()"
Hi,

I have noticed an issue with refit when getting a response wrapped in a refit ApiResponse which them calls EnsureSuccessStatusCodeAsync()

The ApiException thrown by the EnsureSuccessStatusCodeAsync() has null content even when content exists in the httpResponseMessage.

This sort of code:
[code]

The issue seems to be caused because ApiException disposes of the response content
[code]

In Re

[2018-10-01 12:58] onovotny commented on #558
Can you try the latest version from the MyGet feed? There is now an Error property on the ApiResponse that contains the `ApiException`. From there, you can get the string content or have it deserialize to a strong type.

[2018-10-01 13:11] Dilsy99 commented on #558
Will do

[2018-10-01 13:27] Dilsy99 commented on #558
Sorry, what is the url for the refit MyGet feed?

Search at https://docs.myget.org for refit but could not find anything.

Apologies if a dumb question but never used MyGet before!

[2018-10-01 13:36] onovotny commented on #558
Sorry, I thought it was in the readme...but it's not. I'll file an issue for that.

The myget feed is here: `https://www.myget.org/F/refit/api/v3/index.json`

[2018-10-01 13:37] onovotny opened #559 "Add build badges and MyGet feed to readme"
The readme does not contain the build badges or CI feed information.

MyGet feed: `https://www.myget.org/F/refit/api/v3/index.json`

[2018-10-02 18:11] refactorsaurusrex commented on #244
For anyone else experiencing the issue where multiple invocations of a Refit API method with a `Task<HttpResponseMessage>` return type, here is a workaround:

[code]

[2018-10-04 13:39] agat366 opened #560 "Is there any way of DTO entity partial update (particular fields) on PUT?"
I am not sure if I want to much, but still, is there any way to achieve partial update of DTO models?

For instance, if I have a DTO:

public class MyDto {
    public int Id {get;set;}
    public string Field1 {get;set;}
    public string Field2 {get;set;}
    public string Field3 {get;set;}
}

sometimes I might need to send only one of the Fields to update (only Field1, for instance).

But when I

[2018-10-05 11:35] otto-gebb commented on #318
I get this error when I break the string in an argument of an attribute line this:

[code]

[2018-10-05 22:15] digitalfuller commented on #526
I'll create a PR for this.

[2018-10-05 22:58] #526 closed

[2018-10-05 22:59] #551 closed

[2018-10-05 23:01] onovotny commented on #521
Closing due to age. Please reopen with a repro.

[2018-10-05 23:01] #521 closed

[2018-10-05 23:01] #555 closed

[2018-10-05 23:03] onovotny commented on #472
Please raise an issue with VSfM. Doesn't appear to be related to Refit.

[2018-10-05 23:03] #472 closed

[2018-10-08 09:48] ChristianSauer opened #562 "Add hook for exception handling and transforming?"
Hi,
I am using Refit a lot, and noticed a pattern in my libraries which I dislike:

1. Use Refit
2. Notice that exceptions need to be handled somewhat differently than Refits generic mechanism (e.g. instead of throwing a generic ApiException throw an UnauthorizedAccessException if the StatusCode is a 401 or 403).
3. Write a wrapper interface around refit to statisfy #2

While this is not a large a

[2018-10-08 13:44] Styxxy opened #563 "Nuget & MyGet badges"
Many projects have badges with nuget version (and myget if applicable).
Maybe interesting to add here as well?

eg with https://shields.io/

[2018-10-08 13:52] Styxxy commented on #563
Example:

||Refit|Refit.HttpClientFactory|
|-|-|-|
|*NuGet*|[![NuGet](https://img.shields.io/nuget/v/Refit.svg)](https://www.nuget.org/packages/Refit/)|[![NuGet](https://img.shields.io/nuget/v/Refit.HttpClientFactory.svg)](https://www.nuget.org/packages/Refit.HttpClientFactory/)|
|*MyGet*|![MyGet](https://img.shields.io/myget/refit/v/Refit.svg)|![MyGet](https://img.shields.io/myget/refit/v/Refit.H

[2018-10-08 14:07] #563 closed

[2018-10-10 23:17] onarres opened #565 "Conflicting PreserveAttribute in RefitStubs.g.cs when using InternalsVisibleTo attribute"
I have two projects in a solution, my main assembly named Foo and a unit test assembly named Foo.Tests.
Both assemblies are using Refit for my particular testing needs. This was working perfect until I needed to add unit tests that needed access to an internal class in Foo. I added the InternalsVisibleTo attribute to the AssemblyInfo.cs in Foo so Foo.Tests had access.  Doing this causes this error

[2018-10-11 08:05] stevewgh opened #566 "Add support for custom serializers"
I have a requirement to integrate with an API which uses XML instead of JSON.

I noticed that a similar issue was raised (#83) a few years back but it was closed and the branch was deleted before the feature was added.

I'd like to add support for custom serializers as I would find it useful for my particular use-case but before I start looking at adding the support, is this something that the pro

[2018-10-11 12:04] onovotny commented on #565
He’s using InternalsVisibleTo and also using refit in the unit test class.

The fix would be to add a mangled assembly name to the generated namespace.

[2018-10-12 09:35] lukepuplett commented on #558
Hey Oren,

Super little library!! Well done.

I was looking at the code for this and it does appear that Refit calls dispose on objects it didn't create so I think that's the root cause.

Could you consider whether you think this is the best design?

It's quite well-known not to dispose of objects you didn't expressly create, else you're inviting trouble.

https://blogs.msdn.microsoft.com/pfxteam/

[2018-10-12 11:39] onovotny commented on #558
Hi,

I'm not sure where you see that we are disposing of objects we didn't create? We create and own the lifetime of the HttpClient pipeline except in a few narrow cases -- returning HttpResponseMessage or Stream types. As ApiResponse is disposable, I would expect a caller to always dispose it.

[2018-10-12 13:00] onovotny commented on #558
I'm not completely sure why that is there without digging further, but in that code path, there's nothing more you can do with the response. The ApiException reads the response content as a string and makes it available either as strongly typed property or as a string.

I'm not sure what behavior you're seeing that's not working as expected?

[2018-10-12 16:15] lukepuplett commented on #558
"there's nothing more you can do with the response"

So we need to pull out the error detail from the payload but its disposed. Do you see? There is potentially an entire content stream to suck down the pipe once we have an exception :)

[2018-10-12 16:23] lukepuplett commented on #558
Thanks for you time, btw. We were discussing at work what I nightmare it must be to have a really successful OSS project.

[2018-10-12 20:13] lukepuplett commented on #558
Ah. Well that's where the code conspires with the other code to create the bug. See the comment by the OP.

The root cause is the self-disposal. I think its really odd to self-dispose. To my mind, the Dispose pattern is there for consumers.

If you implement `IDisposable`, you're handing the disposal control over to the API consumer.

Else if you're going to encapsulate clearing down nicely, then

[2018-10-13 05:34] xljiulang commented on #566
[WebApiClient](https://github.com/dotnetcore/WebApiClient) support commit with xml content:
[code]

[2018-10-13 05:41] xljiulang commented on #560
well, [json patch](https://tools.ietf.org/html/rfc6902) is what you need, it's supported in [WebApiClient](https://github.com/dotnetcore/WebApiClient):
[code]

in asp.net server:
[code]

[2018-10-14 19:33] benjaminhowarth1 commented on #566
I like this. +1 from me

[2018-10-15 12:52] stevewgh commented on #566
@benjaminhowarth1 well that makes at least two of us so I'll start taking a look to see what would be involved.

[2018-10-15 13:48] Cheesebaron commented on #566
@benjaminhowarth1 @stevewgh please, use the reaction to +1. Adding a comment about +1 doesn't contribute anything to the discussion.

Currently the `BodySerializationMethod` isn't super extensible by the user. I guess we would need to find a better way to provide your own.

So maybe providing a serialization factory instead of having it be an enum would be an option.

I guess this factory should p

[2018-10-15 14:19] thomaslevesque commented on #466
It's not `protected`, [it's `protected internal`](https://source.dot.net/#System.Net.Http/System/Net/Http/HttpClientHandler.Windows.cs,445), as it has always been (not just in .NET Core). So you can override `SendAsync` in a derived class.

Anyway, it would be cleaner to use composition rather than inheritance:

[code]

[2018-10-15 16:04] jvtroyen opened #567 "HttpClient should be reused in .Net framework"
I'm experiencing performance issues when using a 3rd party library, based on Refit, in .Net 461

The problem I experience has to do with the following line of code in the RestService class.

var client = new HttpClient(innerHandler ?? new HttpClientHandler()) { BaseAddress = new Uri(hostUrl) };

.Net framework doesn't like this. HttpClient should be reused, can even be static.
If I replace the cod

[2018-10-15 16:07] onovotny commented on #567
This issue isn't specific to Refit. It's one of the reasons `IHttpClientFactory` exists. It's also the reason Refit gives you the option to supply your own client instance. There can be some subtle downsides to reusing a static instance and so the default does not.

I'd say this is working as-designed for now.

[2018-10-15 16:13] fatagun opened #568 "ServiceCollectionExtension for refit with HTTPClient"
I have the following code in a .net core class library.

[code]

When I try to register a client with the above one as following:
[code]
IConfigApi is something like following:
[code]
I get the error below:
[code]
What is going on here? How can i fix it?

This work, if the registration is in the same project. But it doesn't if I make a generic one.

Any ideas?

[2018-10-15 16:16] fatagun commented on #568
OK. When I install refit in the primary project. shit works.

[2018-10-15 20:01] iamsap opened #569 "StreamPart disposed on retry"
I'm trying to use Refit with Polly.  It works great except when I want to retry a multipart message with ```StreamPart```.  If I'm not mistaken it seems that my request streams are being disposed on ```finally``` (see attachment).  I can get around these by saving a copy of the data for retry and creating a new ```StreamPart``` each time.

Do you have a better suggestion?  Could we instruct the cl

[2018-10-16 07:27] jvtroyen commented on #567
You are correct. Refit allows providing your own httpClient.
Unfortunately, the 3rd party dll (Umbraco.Headless.Client) is not open source and I cannot modify it's use of Refit.
I will let them know my findings on the matter.

Thank you

[2018-10-16 10:12] lukepuplett commented on #558
Shall we reopen this and see if we can get more eyes on it?

[2018-10-16 11:50] agat366 commented on #560
Thanks for the response, and the approach you've offered is great indeed, however, in my case this is not an option, as the api I use is kind of "public" one (at least, from the project architecture perspective) (and if to touch details, the backend is not even .NET, so it lives on its own rules).
So I just should "remove" particular dto properties to post (otherwise the server just fails). Curren

[2018-10-16 12:37] vblz opened #570 "Tcp connection leak"
If refit client is stored in variable, after every method call it's create new tcp connection.

[code]

Code example:
[code]

After first call method `Http()` 6 connections created and it's reused for every next call.
After every call method `Refit()` 6 new connections created, connections does not reused, and it's  stay in ESTABLISHED (or CLOSE_WAIT) state.

I have prepared example to reproduce t

[2018-10-16 12:38] onovotny commented on #558
Re-opening as that doesn't look right. We probably need a few more tests around `EnsureSuccessStatusCodeAsync`.

That said, this isn't about disposable. Refit is designed as primarily a wrapper around the underlying httpclient types; the consumer should not be worrying about them.

[2018-10-16 12:46] onovotny commented on #570
I don't believe this is an issue with Refit. If there's an issue with HttpClient, it would belong on the Corefx repo. Refit is using HttpClient as designed.

[2018-10-16 12:50] vblz commented on #570
Maybe Refit recreate HttpClient every call or something else? I can't reproduce this behavior with raw HttpClient.

[2018-10-16 12:51] onovotny commented on #570
That's generally incorrect behavior. HttpClient should be a singleton or tied to an instance.

[2018-10-16 14:09] vblz commented on #570
Also reproduce the bug on Windows with .NET Framework 4.6.1 https://github.com/vblz/RefitConnectionLeak/tree/master/RefitLeakNetFramework
The code:
[code]
Output:
![default](https://user-images.githubusercontent.com/2076171/47022208-6bd0eb00-d176-11e8-83f5-1745abccb542.png)

Same behavior: the count of connections is growing with Refit and stable with HttpClient.

[2018-10-16 14:14] onovotny commented on #570
This issue belongs on CoreFX. Please open it there. This is HttpClient behavior and not Refit.

[2018-10-16 14:14] #570 closed

[2018-10-16 15:11] #567 closed

[2018-10-18 15:01] DerekSMorin opened #572 "How do you debug against refit?"
Let's say I want to build refit locally and debug with it.

How should I set up the references?

I'm getting:

System.InvalidOperationException
  HResult=0x80131509
  Message=IOptramRS doesn't look like a Refit interface. Make sure it has at least one method with a Refit HTTP method attribute and Refit is installed in the project.
  Source=Refit

I tried to just add a reference to:

C:\Users\Derek

[2018-10-19 10:18] stevewgh commented on #566
@benjaminhowarth1  @Cheesebaron pull request #571 covers the isolation of serialization and provides XML and JSON support.

There are questions on how the ```BodySerializationMethod``` enum and other things mentioned in the PR would still work given the approach I've taken - so any feedback is welcome.

[2018-10-19 10:47] DerekSMorin commented on #296
I was having trouble trying to debug against refit.

But I was able to work around this making a CustomFormUrlEncodedContent similar to what @Bartmax  had done.

I tweaked his a bit to use the answer from:

https://stackoverflow.com/questions/6695208/uri-escapedatastring-invalid-uri-the-uri-string-is-too-long

The idea is to split a large string into chunks that are small enough to call Uri.Escape

[2018-10-19 14:40] ericontilt opened #573 "Any complete on how to use AuthorizationHeaderValueGetter"
I am trying to get the AuthorizationHeaderValueGetter to work, but no matter what I do, I can't get the authorization header set correctly.

In my container configuration I'm setting up the API in the following way:
[code]

My API looks like this:
[code]

I first tried injecting IMyApi into one of my service classes, but the header is not extenden with the token (nor is the Func passed to the sett

[2018-10-19 18:14] #568 closed

[2018-10-20 14:17] drmcclelland commented on #572
@onovotny's suggestion worked for me:  https://github.com/reactiveui/refit/issues/476#issuecomment-389185290

[2018-10-20 14:18] drmcclelland commented on #461
@onovotny's suggestion worked for me to step into Refit:  https://github.com/reactiveui/refit/issues/476#issuecomment-389185290

[2018-10-22 11:51] ChristianSauer opened #574 "AddRefitClient ignores JsonSerializer?"
Just stumbled on this:

Given this API response:

[code]

I tried to use refit to deserialize this json using this POCO

[code]

The client was configured like this:

[code]

I would have expected that the SnakeCaseDeserializer is used, but the Field was null, so I think the serializer is ignored?

[2018-10-24 10:42] drioemgaoin opened #575 "Header Parameter - we can not add a query parameter as header #bug"
**Context**

I want to add the id in a specific header which will be consumed by a middleware (.net core) to add it automatically in my log. Here the interface I built

[Get("/{id}")]
Task<string> Get([Header("X-Id")] Guid id);

**Resultat**
The X-Id header is not added. After some testing, I realised I can't add a parameter in the header that is a part of the endpoint path (here id is a part of t

[2018-10-25 18:33] angelru opened #576 "Upload image with object"
Hello,

I have my web api:

`public async Task<IActionResult> UploadBlobFeed([FromForm] BlobFeed blob)`

The class BlobFeed have IFormFile and other properties.

In xamarin forms with Refit I do:

`Task UploadPhoto(BlobFeed Blob);`

I have the some class BlobFeed, Stream and other properties.

How I use Refit for upload photo with other properties the object for example: age, name, etc...

Thanks.

[2018-10-26 09:43] Styxxy commented on #576
Did you try following? https://github.com/reactiveui/refit#multipart-uploads

[2018-10-30 13:08] gcelet opened #577 "ApiResponse<T> don't expose response content headers (HttpContentHeaders)"
Hi,

ApiResponse<T> exposes response headers (HttpResponseHeaders HttpResponseMessage.Headers) but don't expose response content headers (HttpContentHeaders HttpResponseMessage.Content.Headers).

I'm using Refit to call an api which use the header "Content-Range" for paginated result.

The header "Content-Range" is expose via HttpResponseMessage.Content.Headers.

I can use response content header

[2018-11-02 15:01] angelru commented on #576
Finally, Upload the photo in base64 format.

[2018-11-02 15:01] #576 closed

[2018-11-05 23:29] Styxxy commented on #544
@nesterenko-kv I debugged and find that this occurs when you use the shortened using statement (you don't specify the full namespace). I stepped through all the steps, and it is not possible without some bigger work to get this working in Refit.

@onovotny The text of the namespace is taken and put as the root. This doesn't respect that the using statement was defined within a namespace declaratio

[2018-11-07 21:55] Styxxy commented on #565
@onovotny Might it be a suggestion to use the project `$(RootNamespace)`? Maybe even add a possibilty to overrule this in the project file?

Eg:

**refit.targets**
[code]

We pass this _RefitInternalNamespace_ along to the InterfaceStubGenerator class, which it will include when generating the mustache template.

Any thoughts on this approach?

[2018-11-07 22:04] Styxxy commented on #553
The build task is triggered because it is added before the Compile target in **refit.targets** (check the Refit project, targets folder) : https://github.com/reactiveui/refit/blob/master/Refit/targets/refit.targets .
-> Line 20 the task is imported.
-> Line 29 it is executed.

The InterfaceStubGenerator.App is actually and application for the unit test project, and you can use it yourself as well

[2018-11-07 22:19] Styxxy commented on #541
Just body should work. it will use BodySerializationMethod.Default, which is same as Json. If your parameter is string, json serialization should be skipped.

Did you check already with for example Fiddler what it actually being sent to the server?

[2018-11-08 09:55] oatsoda commented on #23
An update to the documentation on how to use the `ApiResponse<T>` would be really useful as it took me a lot of searching to find this :)

[2018-11-11 17:37] Styxxy commented on #577
I opened PR #580 to add this feature.

[2018-11-11 19:05] #577 closed

[2018-11-11 19:07] onovotny commented on #565
The `RootNamespace` is more likely to conflict again if it's repeated. What if we just use `AssemblyName` since you can't have two different assemblies with the same name in the output directory?

[2018-11-11 21:37] #470 closed

[2018-11-21 02:53] oooolivierrrr opened #582 "ValidationException namespace not found"
Using the current version, ValidationApiException is not found.

            try
            {
                var games = await gameController.GetAllAsync();
            }
            catch (ValidationApiException validationException)
            {
                // handle validation here by using validationException.Content,
                // which is type of ProblemDetails according to RFC 78

[2018-11-21 10:33] Styxxy commented on #582
ValidationApiException is not yet available in the package on Nuget. If you would like to use this, use the latest (>= 4.6.56) from the MyGet feed.

@onovotny Possibility to push latest version to nuget.org?

[2018-11-23 09:16] GreYak opened #583 "4.6.56 on Nuggets ?"
Hi,

Is there any chance that i could have some information about the release of 4.6.56 on nuget.org, please? :)

Thank you!

[2018-11-23 18:07] #565 closed

[2018-11-23 18:46] Styxxy commented on #582
Also see #583

[2018-11-23 18:49] Styxxy commented on #583
New version 4.6.58 has been published to Nuget. You can update to tgat version ;-).

[2018-11-23 18:49] Styxxy commented on #582
New version 4.6.58 has been published to Nuget. You can update to tgat version ;-).

[2018-11-23 18:51] Styxxy commented on #565
Fixed in version 4.6.58 on Nuget. You can update to that version ;-).

[2018-11-28 12:10] antmeehan commented on #318
Here's a failing test for the use of `nameof`.

Using v4.6.58 targeting `net472`.
[code]

[2018-11-30 13:31] Abdulsametileri commented on #543
is there any update? I met this problem. I havent been find a way to deal with it..

[2018-12-03 10:37] kamran-pervaiz commented on #543
@Abdulsametileri as @Veikedo suggested you will have to use ApiResponse class for example:

`Task<ApiResponse<YourClass>> Get(string input);`

you can also use ApiResponse in parameter

`private static void Method(ApiResponse<YourClass> creds) {}`

you can also write a Handler to check the response...I hope it helps

[2018-12-03 12:49] #583 closed

[2018-12-03 12:53] onovotny commented on #566
The PR has been merged. Will bake on the MyGet feed for a bit and then be published to nuget. Thanks!

[2018-12-03 12:53] #566 closed

[2018-12-03 12:54] onovotny commented on #541
Also could be done with a custom serializer that was done in #571.

[2018-12-03 12:54] #541 closed

[2018-12-04 10:08] stevewgh commented on #566
Hi @onovotny I've noticed an issue with the version published to MyGet which is related to the changes I've made. I think I've isolated the problem but I want to be able to recreate the issue in a test before submitting a fix. I'd recommend not publishing to nuget just yet.

[2018-12-04 14:45] ahmedalejo opened #587 "[QueryParameters] Are broken for classes with IEnumerable properties"
### THE FAILING SPECIFICATION

### Proposal
Add a method overload to  `IUrlParameterFormatter`
That allows passing the propertyName
[code]
Allowing the following customization:
[code]

Which was previously possible by using `parameterInfo.Name` as follows:
[code]

### Current State
Un-aware of a possible work around for the time  being.

I´m aware that my proposal is a breaking change, but it alre

[2018-12-04 15:58] HelloKitty commented on #391
Just as a heads up, while Typesafe.Http.Net does work on net4x for Unity3D it will fail for Netstandard2.0 builds. The reasoning I received from Unity Technologies I don't agree with. Netcore/Netstandard support Castle.Core DynamicProxy yet Unity Technologies has elected not to support it even on the Windows platform with their custom .NET runtime so I'd recommend against Typesafe.Http.Net if you

[2018-12-04 21:29] SujitGokhale opened #588 "Ability to update BaseAddress in controller"
Hi,

We are following "multi-single-tenancy" architecture wherein multiple back-end ASP.NET Core Web API service instances are stood up for each tenant having same code base. We have a multiplexer front-end ASP.NET Core application invoking  back-end services based on tenant specific request. The way we are calling back-end services from front-end app using HttpClientFactory like below -

//Startu

[2018-12-05 04:18] hareramjha2007 opened #589 "can we use refit in WPF"
I am exploring this Refit for my desktop client. Where as server is written in ASP.NET Core 2.1

I am trying to access my web API's from WPF desktop client. There is no problem in building the project. When I call to my URL, call goes to server perfectly fine. Server also returns the result but I never get the response back to my WPF client. I have tried just one simple API call.

**My Interface**

[2018-12-05 07:06] czeslav87 commented on #562
+1
Similar to the issue i've just commented https://github.com/reactiveui/refit/pull/375#issuecomment-444378703
It'd be great to apply custom NonHttpSuccess handler. From my point of view, it'd be superb if Refit implementation of the client interface would allow us to use it as any other interface without having to worry about "hey - it's a refit implementation so if i want to handle non 2** resp

[2018-12-05 08:59] stevewgh commented on #566
Fixed with #590

[2018-12-05 12:53] Styxxy commented on #589
With Refit you don't need to explicitly create a service client yourself. Within your WPF code, you can use this:

[code]
(or you can use Dependency Injection and inject the interface; in the registration you can register the restservice)

I use Refit this way myself in some of our WPF applications.

[2018-12-06 03:36] hareramjha2007 commented on #589
Thank you for your reply.

I tried using your code but still no luck. I have create project for your reference. Please have a look and suggest me what is going wrong in that.
[https://github.com/hareramjha2007/WPFRefit.git](url)

[2018-12-08 10:12] nbsoftware opened #591 "Optional url segment"
Would there be a way to support route definitions with optional segments (as for instance in [PHP Slim Framework](https://www.slimframework.com/docs/v3/objects/router.html))?

For instance, if I want to delete say one specific notification message from a user/device or delete all of them I would like to have the following RefitDefinition:

(omitting [Header] parameters for simplicity sake)

[code]

[2018-12-12 13:07] Vertigo093i commented on #438
I've managed to hack on this by injecting a separate `HttpMessageHandler` into the HttpClent's message handlers pipeline. Something like this:

[code]

Inside that handler's `SendAsync` override there is a read/write access to the origin request URI. Just modify it according your needs.

For those using direct `RestService.For<T>` approach the equivalent would be to direct inherit from the `HttpCl

[2018-12-14 11:48] ahmedalejo commented on #587
Any thoughts on this guys?
It be grate have your opinions

[2018-12-16 13:48] hareramjha2007 commented on #589
Hello,

I am still waiting for reply. Can you please suggest me any other library which will help me in WPF application?

[2018-12-16 18:51] bennor commented on #589
Refit definitely works in WPF. I have written apps using it that have been in production for years.

Looking at your example code, I can't see anything wrong other than the fact that you're not doing anything with the result. If you don't assign it to anything, you won't see it in the UI. Other than that, you're calling `.Result` on a task, which is quite possibly deadlocking.

If you are looking

[2018-12-16 18:51] #589 closed

[2018-12-19 15:06] nbsoftware commented on #591
Of course the syntax I was showing was taken from some PHP framework.
With [Microsoft's Web API 2](https://docs.microsoft.com/en-us/aspnet/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2) i.e. using `?`, this translates to:

[code]

and will issue a call to `/push/notifMsg/{deviceId}`if `notifMsgId` isn't provided.
But I'm sure you get the idea.

Anyone?

[2018-12-20 17:42] whoiskevinrich opened #592 "Dynamic Querystring Parameters support for POST requests"
I'm attempting to use Refit against the Amazon MWS API, but have one hurdle:

The Amazon MWS API accepts Query Parameters on a POST request for some calls. Here is some [AWS Documentation](https://docs.developer.amazonservices.com/en_US/feeds/Feeds_GetFeedSubmissionList.html).

From what I can see, Refit will bind this:

[code]

but not this:

[code]

AWS is a bit screwy in terms of how this works

[2018-12-20 18:23] bennor commented on #592
This definitely sounds like something Refit supports. Have a look at [form posts](https://github.com/reactiveui/refit/blob/master/README.md#form-posts) in the README.

[2018-12-20 20:36] whoiskevinrich commented on #592
I tried using both the Dictionary and Dynamic Querystring object approaches shown in the readme, without success.

The call is not for a form post, but rather a POST request with a querystring.

Here is the raw(ish) working request from their Scratchpad (with redacted info):

[code]

Also, I should point out, I can make the request just fine using the format of:

[code]

I'd like to leverage the o

[2018-12-20 20:38] bennor commented on #592
Ah I see. Not sure why that doesn't work.

[2018-12-20 22:10] whoiskevinrich commented on #592
I noticed this, while probing the [RequestBuilderImplementation.cs](https://github.com/reactiveui/refit/blob/master/Refit/RequestBuilderImplementation.cs) code:

[code]

The call in question is bodyless, is it possible this is related?

[2018-12-23 10:07] marshal-nash opened #593 "Usage of AuthorizeAttribute"
Hello, it seems there is a problem using the AuthorizeAttribute which inherits from HeaderAttribute.

Whenever I try to use it, the authorization header is not set.

From what I understand, it looks like it is because of the ": {scheme}" in the name part of the header that it is not added to the request.

[2019-01-02 06:57] dasajia2lang opened #594 "HttpClientFactoryExtensions can Add a method like AddRefitClient(Type t)?"
in my project ,I do not want to add client one by one ,I want add an attribute on the client interfact ,then ,I batch  add service in to the servicecollection,so i want a new method that not the generic types method？

[2019-01-04 13:32] davidnmbond opened #595 ""doesn't look like a Refit interface" when inheriting from another interface"
The following interface "doesn't look like a Refit interface", I expect because it inherits from another interface:

`
    using Company.Product.Data;
    using Refit;

    namespace Company.Product.Api.Common.Interfaces
    {
       [Headers("Authorization: Bearer")]
       public interface IConnectionApi : ICrudApi<Connection>
       {
       }

        [Headers("Authorization: Bearer")]

[2019-01-04 22:12] taublast commented on #177
In iOS, you place these in the mtouch arguments box.
`--linkskip=AssemblyOne --linkskip=AssemblyTwo`

But on Xamarin.Forms better put all your Api interfaces inside one file with a specific namespace and put above it a preserve attribute:
[code]

[2019-01-05 11:37] Styxxy commented on #459
@dnasir This should have been fixed now with PR #502 .

[2019-01-08 20:24] wocar commented on #595
+1

[2019-01-10 22:55] bennor commented on #500
Closing this as a duplicate of #263

[2019-01-10 22:55] #500 closed

[2019-01-11 16:17] richbryant commented on #566
Sorry for the presumably silly question but how would one go about using this facility?

[2019-01-11 19:59] 19balazs86 commented on #573
Same problem :(
The AuthorizationHeaderValueGetter is not called by the library, if I use the IServiceCollection.AddRefitClient.

RestService.For works fine.

[2019-01-12 13:46] stevewgh commented on #566
Answered here: https://github.com/reactiveui/refit/pull/571#issuecomment-453748711

[2019-01-18 22:29] Flohack74 opened #596 "Large multipart uploads time out"
Hi,
we currently try to uploadf files up to 900MB. If the virtual machine behind the server side is slow, this takes longer than the default 100 seconds of what HttpClient is using.

I also think the misconception in .NET is that this timeout is not reset as long as the server is accepting data. You cannot fix HttpClient, but since you are wrapping it so nicely, maybe you can take a look into this

[2019-01-22 02:37] nicholasyin opened #597 "Can I use complex types for GET actions?"
For example, I could have a base SearchModel and quite a few [DomainObject]SearchModel that I want to be used in search operations that are all GET method. I'd like to have the service to automatic convert any object to a query-string representation so that in the interface method I only need to pass in the model object, instead of all primitive parameters, which is not quite extensible.

So, is t

[2019-01-22 14:09] ahmedalejo commented on #597
**First of all**: Yes it is supported out of box.

Reading the documentation will help you further:
[Dynamic Querystring Parameters](https://github.com/reactiveui/refit#dynamic-querystring-parameters)

**Secondly**, issues aren't meant for asking questions, but instead are for filing-in problems i.e "issues" or propose a new feature based on an "issue" that you are confronting.

[2019-01-22 14:24] ahmedalejo commented on #596
You can accomplish your need by using a `HttpClient` and setting it´s `Timeout` property.

[code]

But if you intend on handling connection loss and re-connection then you´d to dig deeper, using server side logic with a [`HttpClientHandler`](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/http-message-handlers), `DelegatingHandler` to be more specific.

[2019-01-22 14:36] ahmedalejo commented on #595
@davidnmbond Interface inheritance isn´t currently supported

but a pull request exist waiting for merge https://github.com/reactiveui/refit/pull/523

including other issue #176

[2019-01-22 19:34] ahmedalejo commented on #573
Using the following will work: `RestService.For<T>(string hostUrl, RefitSettings settings)` while others will not

[2019-01-22 19:39] 19balazs86 commented on #573
`services.AddRefitClient<ISomething>()
    .ConfigureHttpClient(c => c.BaseAddress = new Uri("..."))
    .AddHttpMessageHandler<AuthorizationMessageHandler>();`

For me this solution works well.

[2019-01-23 12:34] Flohack74 commented on #596
Thanks for the reply. I am not sure if this timeout will help me, since it still cannot distinguish between a) the endpoint could not be reached b) the data is uploading fine but it just takes longer. I think its not so much about reconnecting a lost connection, but rather do not timeout as long as data is flowing properly.

[2019-01-25 18:19] onovotny opened #598 "Use transitive build targets"
Update the package to support this when it's available: https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior

[2019-01-28 12:08] Styxxy commented on #597
@ahmedalejo Issues are sometimes a good place to ask questions about usage. This can indicate a lack of documentation or lack of good documentation (which is not this case).

[2019-01-29 07:44] sannysc opened #599 "Is it possible? Retrieving nested json data."
Is it possible to automatically deserialize and retrieve json data that isn't top level in the response with Refit?

[2019-01-30 05:57] mindofai opened #600 "Use Refit for multiple Multiple Endpoints"
Hi,

I've been trying to use Refit to implement my rest service for two different endpoints (I'm using an IoC here).

![image](https://user-images.githubusercontent.com/18261468/51961168-d0e6ed00-2496-11e9-973c-d5c6ddd4d175.png)

But it seems like everytime I do this, I get a "GENERAL CONNECTION ERROR" error. Is it possible to set up multiple endpoints using Refit

[2019-01-31 03:31] ahmedalejo commented on #597
@Styxxy cool to know

[2019-02-01 18:56] ColKrumpler opened #601 "Xml Content Support"
The project documentation indicates Refit currently supports XML Content:

[code]
However, the Nuget and MyGet packages as of 4.6.58 still do not support XML Content.  Is XML Content expected to be available soon?

[2019-02-03 00:55] knightmeister opened #602 "Use of constants in HTTP attributes does not generate proxies"
Might be related to #263, however the error and use case are different.

I have the base address (i.e. RoutePrefix) for my API controllers defined in a constants file. I was trying to consume the Refit API from UWP and was getting the error message:

`'IUserApiV1 doesn't look like a Refit interface. Make sure it has at least one method with a Refit HTTP method attribute and Refit is installed in t

[2019-02-05 14:30] Flohack74 opened #603 "Header attribute does not HtmlEncode() values"
Hello,

I would expect that the value of a Header() attribute would be encoded into Html entities automatically, since this is kind of required behaviour by spec. Can you comment on this, if this could be made?
Thx!

[2019-02-05 19:06] bennor commented on #603
The specs don't prescribe a standard method for encoding non-ASCII characters (see [this answer on Stack Overflow](https://stackoverflow.com/a/48138818/14451) for more info).

That means we can't possibly guess at how the server will be expecting them. We also lean on .NET's built in `HttpClient`, and they don't auto-encode either.

That leaves you with two options:

1. Find out what your server i

[2019-02-05 19:06] #603 closed

[2019-02-06 11:31] fatagun opened #604 "Refit throwing exception on 404 response"
We are using refit for all our client for a very large project.

I have researched on the questions and found out that refit throws exception on 404 responses. I have to do the following
[code]

Is it possible not to throw exception? How can I handle 400, or 500 status codes without throwing exceptions?

[2019-02-06 18:38] bennor commented on #604
Change your method's return type from `Task<Whatever>` to `Task<ApiResponse<Whatever>>`. Then you can check the status code yourself.

[2019-02-07 14:30] #604 closed

[2019-02-07 19:15] nwestfall opened #605 "Renaming Obfuscation Not Supported"
While using the project [ConfuserEx](https://github.com/yck1509/ConfuserEx) for an Xamarin app, I noticed that if you obfuscate a dll using Refit, you are hit with this [exception](https://github.com/reactiveui/refit/blob/master/Refit/RestService.cs#L66) during runtime.  This makes sense cause it's looking in my case for `AutoGeneratedIVersions` when the class was changed to `KoWzaZJSfQjnsjcUgQAXs

[2019-02-09 11:35] stevewgh commented on #601
4.6.68 contains XML support but it is only available on the MyGet feed at the moment.

It needs admin support to promote it. @onovotny are you able to do this?

[2019-02-11 11:24] ahmedalejo commented on #587
In case any one hits this issue I will be making an attempt of providing a pull request by April, yes April, That’s when I’ll be updating my apps in the store

Thanks for the feedback guys

[2019-02-12 10:33] 0xced commented on #380
I haven't used it, but I found https://github.com/itofinity/swagger-csharp-refit which seems to produce interfaces and models from a swagger definition.

[2019-02-12 10:49] e-tobi commented on #569
You can create a wrapper for your stream, which does not dispose the wrapped stream.

[2019-02-12 14:31] e-tobi opened #607 "Minor documentation issue"
README.md contains this example:

[code]

I think  this should be (auth == null), so the authorization header gets set if it was NOT set before.

[2019-02-13 10:06] e-tobi commented on #607
I think this can be closed - I think it's intended that you provide an Authorizatuon header and AuthenticatedHttpClientHandler will just set the header value instead of adding the complete Authorization header.

[2019-02-13 10:06] #607 closed

[2019-02-14 09:29] bauca commented on #602
Same problem here! This feature is a nice to have, it would save a lot of work in the future for those who have a lot of endpoints mapped through a string literal instead of a const.

[2019-02-15 05:14] Darlingtone opened #609 "PreserveAttribute Could not be found"
After adding Refit (v4.6.58) to my Xamarin project I got the following error

`The type or namespace name 'RefitInternalGenerated' does not exist in the namespace 'AppNamespace' (are you missing an assembly reference?)`

and

`The type or namespace name 'PreserveAttribute' could not be found (are you missing a using directive or an assembly reference?)`

the error were flagged in **RefitStubs.g.cs

[2019-02-15 06:39] Darlingtone commented on #609
Resolved!!

The problem was I renamed my project in VS, and VS changed the default namespace for the project, when the **RefitStubs.g.cs** is generated the default namespace was used and broken the reference to the class for which the Stub is been generated which is using the _(desired)_ namespace when the project was originally created.

It would've been nice if the code generator for the RefitSt

[2019-02-15 06:39] #609 closed

[2019-02-16 07:26] tstivers1990 commented on #111
@kfrancis You probably aren't interested anymore. But I came across this issue when searching for information on unit testing with Refit. Here's some sample code so others can get an idea of how simple it is to unit test with Refit.

For reference, I'm using xUnit, NSubstitute, and Shouldly for my unit test project.

[code]

[2019-02-16 18:56] tstivers1990 opened #610 "Error when building URL if hostUrl has trailing /"
Reproduce:

Create a new `RestService` and pass a `hostUrl` that ends with `/`. For example:

`RestService.For<IMyRestApi>("http://localhost/api/");`

Upon making a request, such as `GetObjects`, the url used for the request will look as follows:

`http://localhost/api//objects`

Proposed solution:
The solution is fairly simple. The constructor could simply check if the `hostUrl` has a trailing `/

[2019-02-16 20:26] #605 closed

[2019-02-16 20:52] onovotny commented on #602
This is the same as #263 and would require significant work in the parser to support. I'd accept a PR if someone wants to undertake that work.

This comment still stands: https://github.com/reactiveui/refit/issues/263#issuecomment-247706574

[2019-02-16 21:01] onovotny commented on #601
I'll get published in the next few days.

[2019-02-16 21:44] onovotny commented on #553
@Styxxy is correct. Build tasks are much more difficult to debug as they can get stuck loaded in memory. The app just boostraps the same logic as the task to make testing easier.

[2019-02-16 21:44] #553 closed

[2019-02-16 22:27] #598 closed

[2019-02-16 22:55] tstivers1990 commented on #610
Feel free to assign this to me. I'm currently working on it.

[2019-02-16 23:55] tstivers1990 opened #614 "RestService.For<T>(string hostUrl) should throw InvalidArgumentException if hostUrl IsNullOrWhiteSpace"

[2019-02-17 01:02] #610 closed

[2019-02-17 01:05] #614 closed

[2019-02-17 01:06] onovotny commented on #601
Latest NuGet version has these changes.

[2019-02-17 01:06] #601 closed

[2019-02-17 01:08] onovotny commented on #600
I'm not sure there's anything to do with Refit here. Refit is a wrapper around HttpClient, so supplying specific HttpClient instances or creating multiple instances with the factory method should work. I'd file an issue on the CoreFX repo if you think there's something with HttpClient,

[2019-02-17 01:08] #600 closed

[2019-02-17 11:11] #599 closed

[2019-02-17 17:37] Sergio0694 opened #617 "Refit ignores the EnumMember attribute for enums inside classes"
This is related with #459 and #502.
The `EnumMember` attribute is now correctly used when directly passing enums as parameters to a Refit method in an interface, but it seems to be ignored when the enum in question is inside a container class.
Here's an example:

[code]

Calling the `FooAsync` method here ends up using the URI `/foo?value=BLA` instead of `/foo?value=bla`.
Of course, this works per

[2019-02-17 17:44] Sergio0694 opened #618 "Refit ignores the EnumMember attribute in IEnumerable parameters"
This is probably related with #587, and possibly with #459 and #502.
The `EnumMember` attribute is not used when the enum in question is used as an `IEnumerable<T>` parameter to a Refit method.
Here's an example:

[code]
This results in:
[code]
Instead of `/foo?values=bla%2Cbla`.

[2019-02-17 23:41] hansmbakker opened #619 "Refit fails on VS2019, old Refit works fine"
I'm using .Net Core 2.2 / .Net Standard 2.0 projects and a UWP project in VS2019.

Having a dependency on Refit 4.5.6 works. Upgrading to Refit 4.6.85 breaks all projects referencing it (error `MSB4062`):

[code]

The bug feels similar to #511, I do not think it is a duplicate though.

Clean, Rebuild and restarting VS2019 several times did not help.

[2019-02-18 00:35] #619 closed

[2019-02-18 00:58] onovotny commented on #619
This should be fixed in the latest version, 4.6.90.

[2019-02-19 10:21] Flohack74 opened #620 "MethodNotFoundException with .NET Framework and custom HttpClient"
Hello,

this is similar to https://github.com/reactiveui/refit/issues/441 ...

we got the following code:
[code]
and this error out of it:
[code]
This happens not on all machines it seems but it is fixed by adding an assembly binding redirect:
[code]
It seems that for some reason sometimes the old Http client is being used, and obviously misses a method. Can you elaborate why
a) in nuspec file the

[2019-02-21 00:16] Sergio0694 opened #621 "Can't use IEnumerable, multi fields in an URL-encoded body"
I noticed that Refit doesn't handle `IEnumerable<T>` values in classes (possibly related to #587 ) and that it's pretty much impossible to use arrays/lists in URL-encoded body contents.
I'm trying to write [this Imgur API](https://apidocs.imgur.com/#8f89bd41-28a1-4624-9393-95e12cec509a) with Refit, but no matter what I tried it just wouldn't work (this does work when trying with other programs to

[2019-02-21 02:30] Sergio0694 commented on #621
Nevermind, turns out this has been fixed already in a very recent NuGet update, and I was using version `4.6.58`, which didn't have the fix yet 😅
Keep up the good work!

[2019-02-21 02:30] #621 closed

[2019-02-21 07:48] bauca commented on #602
Ok, @onovotny is there any start point where I could take a look to investigate the problem? I would like to see how much work would it require so I could see if I can accomplish it in my free time :)

[2019-02-21 16:56] alec-lieberman-ef opened #622 "Issue sending string and stream in MultiPart request."
Hello,

We are using Refit and have an endpoint definition that looks like this:

`
[Multipart]
SaveDocumentAsync(string idi, Guid courseId, [AliasAs("type")] string type, [AliasAs("file")] StreamPart stream, [Header(Headers.TraceId)] string traceId)`

We have some component tests that are using this interface and testing some internal controller endpoints. In these tests, when we debug, the strin

[2019-02-22 08:23] alec-lieberman-ef commented on #395
Has there been any traction on this issue? This seems like something that would be great to have.

[2019-02-22 09:32] ahmedalejo commented on #621
Hi @Sergio0694  what version did find with this resolved?

I file in a similar issue a while ago with no feedback
#587

[2019-02-22 10:15] swapnil591 commented on #303
Check below code

Rest.For<ITestApi>(client, new RefitSettings
            {
                ContentSerializer = new JsonContentSerializer(
                    new JsonSerializerSettings
                    {
                        NullValueHandling = NullValueHandling.Ignore
                    }
                )
            });

[2019-02-22 10:46] Sergio0694 commented on #621
Hi @ahmedalejo - I've updated to package `4.6.90`, try it out and hopefully it should solve your issue as well! 👍

[2019-02-22 15:11] Flohack74 commented on #405
I got a strange behaviour here, the exception that comes from empty Content/Headers is not caught and so a NullReferenceException is being thrown:
![image](https://user-images.githubusercontent.com/16186470/53251065-11afdb80-36bc-11e9-82ba-4d797e187b1e.png)

You can see here that the execution jumps straight from the breakpoint to end of method, returning a Nullref exception, instead of an ApiExce

[2019-02-22 15:33] Flohack74 commented on #233
This works actually for us:
![image](https://user-images.githubusercontent.com/16186470/53252536-715bb600-36bf-11e9-8e87-a77b7551ac63.png)
BTW think this one can be closed.

[2019-02-23 14:44] endeffects opened #623 "Register multiple clients at once"
Hi,

is there any option to register multiple endpoints at once with the same settings?
At the moment i have to repeat the same configuration over and over again.

[code]

[2019-02-23 19:08] bennor commented on #623
Instead of using lambdas, create a single function that takes an `HttpClient` e.g. `void ConfigureClient(HttpClient client) { ... }`.

Pass this function to each of your calls to configure each service:

[code]

[2019-02-24 22:14] millicentachieng commented on #108
"### :x: API Doctor validation status\n**Summary**\n2967 errors\n4312 warnings\n\nFAILED with errors\n Note: *Some output has been truncated for brevity*<table>\n<thead>\n<tr>\n\t<th>File</th>\n\t<th>Status</th>\n\t<th>Status Code</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n\t<td><a href=\"D:\\Repositories\\Microsoft\\microsoft-graph-docs\\api-reference\\beta\"></a></td>\n\t<td>:x: Error</td>\n\t<td>Unk

[2019-02-24 22:19] onovotny commented on #620
Refit is multi-targeted and does not use the `System.Net.HttpClient` package when targeting the .NET Framework.

It's likely some other package is pulling that in instead and is causing the binding redirect issue.

[2019-02-25 14:17] tstivers1990 opened #624 "HttpRequestException thrown on invalid SSL certificate"
I'm not sure if this is intended behavior or not. When making a request and the endpoint has an invalid SSL certificate, an `HttpRequestException` is thrown. The documentation states:

`To encapsulate any exceptions that may come from a service, you can catch an ApiException which contains request- and response information. Refit also supports the catching of validation exceptions that are thrown

[2019-02-25 19:03] bennor commented on #624
I wasn't aware that it had been documented like that, because `ApiException` doesn't wrap many other `HttpRequestException`s, including DNS issues, etc.

I think it would be great if it did though.

[2019-02-26 01:48] tstivers1990 commented on #624
I took a look at the source. It appears this is probably intended behavior. Personally, either way doesn't matter to me. I just want to know what exceptions I need to catch. Because this library wraps `HttpClient`, it's not obvious what exceptions you need to catch unless you want to look at implementation details. I suspect a simple update to the docs making it clear that you still need to catch

[2019-02-26 06:00] lhyqy5 opened #625 "xml output encoding dose not follow XmlWriterSettings encoding setting"
`XmlWriterSettings'` encoding  setting in `XmlContentSerializer`/`XmlReaderWriterSettings`  don't take effect, serialized xml `encoding` attribute always `utf-16`
[code]

[2019-02-26 21:34] benjaminhowarth1 opened #626 "Issues with multi-targeted projects (.NET 4.6, .NET Standard 1.4, and .NET Standard 2.0)"
Hi folks,

If I run this against a multi-targeted project, both .NET 4.6 and .NET Standard 2.0 builds fail, no types are generated. I think this is partially because the Refit runtimes half-support .NET Standard but actually make more reference to .NET Core, a different part of the runtime standard.

I'm working on a fork now.

Related: Nustache is only supported on .NET Framework 2.0. Recommend a

[2019-02-26 21:44] onovotny commented on #626
Do you have a repro? Multi-targeted projects should be supported.

[2019-02-26 21:53] benjaminhowarth1 commented on #626
Indeed I do: https://github.com/benjaminhowarth1/Refit.Clients/tree/develop

[2019-02-27 00:08] benjaminhowarth1 commented on #626
Closing... I'm an idiot. Forgot to upgrade my dependencies...

[2019-02-27 00:10] benjaminhowarth1 opened #627 "AuthorizationHeaderValueGetter should be Func<HttpRequestMessage, Task<string>>"
Generating the OAuth signature requires access to the HttpRequestMessage, not currently granted.

[2019-02-28 11:34] benjaminhowarth1 commented on #626
Also found an interesting bug as to why this fails using InterfaceStubGenerator.App.
The line "using Refit;" is required in the CS file. Interestingly, Visual Studio resolves the reference in .NET Standard without the using directive, but Refit will subsequently fail without it.

[2019-03-01 17:07] pepobit opened #630 "Receive Cookie on login"
Hello,

The login method I have to call returns a cookie to use with the other calls. How can I keep the cookie received in the login rest method?

Thanks.

[2019-03-01 19:05] bennor commented on #630
This will happen automatically if you reuse the same `HttpClient` for all your calls (which seems wrong, but is actually the way you're supposed to use `HttpClient`).

You have a few options here:

- If you're using ASP.NET core, and you only have one API interface, this will happen automatically when you use `services.AddRefitClient<IYourApi>()` to register your api.
- otherwise, you'll want to c

[2019-03-05 05:36] Bartmax commented on #588
you can create 2 clients:
[code]

[2019-03-06 19:18] fatagun opened #632 "Hiding ApiResponse in a ClientHandler"
I have the following client:
[code]

and yet I am trying to hide `ApiResponse` in the code below:

[code]

`Response` is my class. I want to execute the code as below.

[code]
If I define the client as follows I am able to get the ApiResponse back. But I want to hide it.
[code]

How can I have the following code return an `ApiResponse`?
[code]
------------------------------------------------------

[2019-03-07 21:30] onovotny commented on #624
There could be a more general RefitException class that gets inserted underneath ApiException, where we could have catch/wrap other exceptions and provide a common base exception type.

[2019-03-07 21:30] onovotny commented on #625
Do you have an easy repro (or can you PR a failing test that shows this behavior?

[2019-03-07 21:31] #620 closed

[2019-03-11 00:30] davidnmbond commented on #522
I believe an object array: {"value": [ {"a": 1, "b": 2}, {"a": 3, "b": 4} ] } should be serialised into the query string as:

`?value[0].a=1&value[0].b=2&value[1].a=3&value[1].b=4`

[2019-03-12 19:04] Sergio0694 commented on #595
This was just implemented in #633 - so this can be closed 😄

[2019-03-12 19:07] #595 closed

[2019-03-12 19:08] wocar commented on #595
Aré generics supported in this implementation?

[2019-03-12 19:10] Sergio0694 commented on #176
This too was just done in #633 - so this can be closed as well 😊

[2019-03-12 19:13] Sergio0694 commented on #595
@wocar I'll be completely honest, so far I've just made sure this worked fine with non-generic interfaces, but you can clone `master` and give it a try.
If there are any problems you can open another issue and we can take it from there 👍

[2019-03-12 19:42] #176 closed

[2019-03-12 23:48] #625 closed

[2019-03-13 17:30] #632 closed

[2019-03-14 09:03] Pythonofsdc opened #635 "When I use refit in asp.net project,I cant get response if I use async,await?"
as above.
.net framework 4.6.2
asp.net web api 2.0

When I use refit in asp.net project to help me call a web api,I cant get response if I use async await,but it work in the unit test . Unless i change the await code as task.wait,it works right

Is Refit cant  be used in asp.net web api or I made a code mistake?
That is what i want to know.

Thanks!

[2019-03-14 15:18] #635 closed

[2019-03-15 07:21] SWarnberg opened #636 "Content in ValidationApiException hides Content in derived ApiException"
Hi

I think it's a bad design to hide the **Content** property of the derived class **ApiException**. The reason is that if you don't catch **ValidationApiException** but catch **ApiException**, you expect to get the **Content** property as string. However, if the real content is a problem+json document, it's null in the ApiException.
A better approach would be to have a new property in the Valida

[2019-03-15 17:25] benjaminhowarth1 opened #637 "Complex query parameter types in non-GET actions"
Hi folks, I'm trying to implement a lightweight Twitter library. This involves doing POST/PUT/DELETE commands, but the parameters are passed by querystring, and _not_ by body. This doesn't appear to be supported despite some previous discussions around complex body params (#89 PR and #102 issue).

[2019-03-15 17:27] benjaminhowarth1 commented on #626
Closing as I discovered the root cause of my issue - wrong namespace calling.

[2019-03-15 17:27] #626 closed

[2019-03-18 15:47] soelinn commented on #624
Would having a simple `ErrorHandlingHttpClientMessageHandler` implementation suffice?

[code]

[2019-03-19 21:06] erlandvr commented on #372
When will this be fixed?

[2019-03-20 21:29] benjaminhowarth1 commented on #637
I'm slightly further along by creating my own ToString() override and using Reflection, however whilst this serialises my parameters into the URL correctly, the handler expects a key={value} param syntax in the URL for non-GETs. This means that because there's no "key" in the URL segment, serialisation fails.

What would be really nice would be to assume that any param on the method specified with

[2019-03-20 21:38] benjaminhowarth1 commented on #637
Further update: basically the [Query] attribute is being ignored on non-GET methods with parameters. Working on finding a fix.

[2019-03-20 22:24] benjaminhowarth1 commented on #637
Given:

[code]

Test fails:
[code]

Throws:
[code]

[2019-03-26 12:03] vullnetyy commented on #258
It would be nice if we could make this like a little optional helper to the library.

[2019-03-28 10:55] Echtelion opened #641 "[BUG] NullReferenceException on Error, when Response.Content.Headers is null"
When server respond an error (in my case 401), with an empty body content and without a ContentType, refit throw a NullReferenceException.
This is caused by :
if (response.Content.Headers.ContentType.MediaType.Equals("application/problem+json"))

You should check for Headers, ContentType and MediaType beeing not null before trying to parse.

[2019-03-28 11:30] hankovich opened #642 "Build fails when project name includes spaces"
Refit creates `RefitStubs.g.cs` in `PROJECT_NAME.RefitInternalGenerated` namespace, so when project name contains characters which are not allowed to use in namespaces build fails.

[code]

C# language specification says that namespace name is an identifier, so all rules which are applicable to identifiers are also applicable to namespaces (namespace can't start from digit, etc.).

Project name ru

[2019-03-29 11:05] DmytroMelnyk opened #643 "Assembly/memory leak in XmlContentSerializer"
Looks like "https://github.com/reactiveui/refit/blob/4c8febe95a239dd94093fdb6cc0fb7a1255ca8c4/Refit/XmlContentSerializer.cs" has an assembly leak. I think it should be custom cache implemented for XmlSerializer. XmlSerializer doesn't support cache for a constructor like:

**new XmlSerializer(item.GetType(), settings.XmlAttributeOverrides)**

Thus we have a new assembly each time we deserialize/ser

[2019-04-02 12:56] ysmoradi opened #644 "Pass CancellationToken to IContentSerializer"
I'm implementing IContentSerializer interface and in my implementation, I've no access to cancellation token. Could you please provide it too? Thanks in advance.

[2019-04-06 11:38] Styxxy commented on #642
Refit uses the $(RootNamespace) property (or $(RefitInternalNamespace) property if set in the project file) to add to the namespace of the PreserveAttribute.

I tested with a blank new .NET Standard class library and a .NET Core Console App, with spaces in the project names; and it doesn't give me any problems.

Could you provide a small sample that reproduces this?

[2019-04-06 11:51] Styxxy commented on #644
This is pretty straightforward to implement, though it would be a breaking change due to a public interface that will be changed.

Another option would be to create a derived interface that adds this option, and we check first for the derived interface and if provided class is not of that type, we use the base interface. It would feel a little bit more "dirty", though this would be a solution to n

[2019-04-06 12:06] ysmoradi commented on #644
I prefer 2nd approach. Note that there is a real need for content serialization, so it worth its cost

[2019-04-06 12:08] ysmoradi commented on #644
But I think it's hard to find a name for new interface!

[2019-04-06 12:16] Styxxy commented on #644
`IContentSerializerWithCancellation` 😋

[2019-04-06 13:33] onovotny commented on #644
Using a second interface seems like the best option at the moment.

[2019-04-07 17:02] Styxxy commented on #641
I can't reproduce this (with the master source code --> this is the latest published version). I added a test that should demonstrate this, though the test still succeeds. The "nullrefexception" is being swallowed.

See test: https://github.com/Styxxy/refit/blob/issue641-nullrefexception/Refit.Tests/ResponseTests.cs#L105

Can you give me a reproducible test for this issue, so I can look into it fu

[2019-04-07 21:29] Echtelion commented on #641
Hi Styxxy,
The error was swallowed. I got the exception while debugging and I didn't see initially that it was a firstchanceexception, while the real exception was a http401. It was causing some mistake in understanding why I had a NullReferenceException in an expected test case, and wanted to be sure it was not from our request or the server response.
I checked the code, found this and report it

[2019-04-08 07:27] hankovich commented on #642
[Sure](https://github.com/hankovich/Refit-Repro). Note that <RootNamespace> is not set manually is csproj.
When you create a blank project with spaces in name, VS will add sanitized namespace to <RootNamespace>, but when you rename existing project no additional info will be added to csproj.

[2019-04-08 07:30] Styxxy commented on #642
@hankovich Thanks for the repro. I will look into it.

[2019-04-08 07:31] Styxxy commented on #641
Hi @Echtelion . Thanks for reporting.
Then it is exactly what I fixed (with the fix, there is no exception being suppressed anymore).

[2019-04-08 11:44] #641 closed

[2019-04-08 11:45] #643 closed

[2019-04-10 22:50] lsuarez5280 opened #649 "[BUG] RefitStubs.g.cs generated by dotnet build 2.2.203 SDK cannot process nested type"
**Describe the bug**

When building using `dotnet build` with the 2.2.203 Core SDK, a RefitStubs.g.cs file is created (same file not created when building with SDK patch 102/103). The file implements a nested interface type for one of the project's Refit clients that has a response type in the signature that is likewise a nested type. The implementation incorrectly specifies that type and it canno

[2019-04-11 23:27] gabolarraguivel commented on #196
This should be reopened, I have exactly the same problem

[2019-04-12 16:03] nvchernov commented on #609
I have case when my class has same name with namespace

[code]
Do not do like me : )

[2019-04-14 13:19] BenjaminAbt opened #650 "[BUG] Interface inheritance only works in same project"
**Describe the bug**

The goal is to use interface inheritance from refit interfaces.
https://github.com/reactiveui/refit#interface-inheritance

This only works if all interfaces are in one project.
However, the following error occurs if the interfaces are not in the same project:

_Project Base_
[code]

_Project Base.UnitTests_
[code]

_Generate Stubs:_
`GetVersion` is missing here, but will be g

[2019-04-15 11:28] mfelicio commented on #332
I'm surprised nobody replied to this yet since it's been nearly two years since you've opened the issue. I just had the exact same problem and found the root cause, as well as a solution.

The problem is that by exposing the HttpResponseMessage, Refit won't dispose of the response's Content stream, therefore leaving the underlying tcp connection still active. Now, there's a limit to how many concu

[2019-04-16 12:58] KonstantinRyazantsev commented on #205
@mtman just implement ```IFormattable``` by your ```Query``` class

[2019-04-16 13:08] endeffects commented on #623
Thanks for your help. :)

[2019-04-16 13:08] #623 closed

[2019-04-16 18:23] fatagun opened #651 "Using Strongly types objects in HTTP GET requests"
Hello,

Is it possible to construct an end point as following:

[code]

Essentially, I would like to share DTOS across the projects and use them in the refit clients.

I have added this to a project but do not see anything on swagger UI.

Any ideas?

Thanks.

[2019-04-17 12:04] #651 closed

[2019-04-17 14:58] NickeManarin opened #652 "Connection refused when Postman still works normally"
Refit fails to connect to my server, when Postman is able connect normally.

    System.Net.Http.HttpRequestException: An error occurred while sending the request
    ---> System.Net.WebException: Error: ConnectFailure (Connection refused)
    ---> System.Net.Sockets.SocketException: Connection refused

![image](https://user-images.githubusercontent.com/14798947/56297979-bf14fd80-6107-11e9-8e2a-61

[2019-04-17 15:56] NickeManarin commented on #652
The project references .NetStandard 2, maybe that's the problem?

[2019-04-17 16:19] NickeManarin commented on #652
I did something wrong with the connection. Forget it.

[2019-04-17 16:19] #652 closed

[2019-04-20 16:55] martincostello opened #653 "IContentSerializer implementation and/or example for .NET Core 3.0?"
**Is your feature request related to a problem? Please describe.**

I'm currently maintaining branches of some applications using ASP.NET Core 2.2 + Refit against the ASP.NET Core 3.0 previews.

As the new built-in JSON (de)serialization for 3.0 is still in flux, I'm continuing to use Netwonsoft.Json as the (de)serializer using the new `Microsoft.AspNetCore.Mvc.NewtonsoftJson` NuGet package and Re

[2019-04-20 20:00] martincostello commented on #653
I had a quick play around by reverse-engineering the MVC input/output formatters and came up with the below.

It doesn't 100% work in my app's tests because of a bug (https://github.com/dotnet/corefx/pull/36637) that doesn't appear to have made the cut for preview 4, but it appears to work for simple cases:

[code]

[2019-04-23 05:44] streamtree commented on #23
What's the current status of this? I have paging information being return in the response header that I need access to.

[2019-04-24 08:19] Immons opened #655 "[BUG] Uploading large size Stream on Android"
**Describe the bug**

When uploading large size Stream (over 100mb) on Android we get OOM.

**Steps To Reproduce**

Create API with Multipart Post and use StreamContent (with FileStream for example).

**Expected behavior**

You should get successful response, instead application is being closed due to eating too much memory.

**Environment**

- OS:        Android
- Version    8.1
- Device:    Huaw

[2019-04-29 10:11] Hooch180 opened #656 "What is proper lifetime of the Client created by RestService.For<>()?"
Hello.
I'm using this library for simple communication with REST service from my Windows Service.
The communication with service is needed only from time to time (every few hours) and each time consists of 10-100 requests.

Should I create new client using RestService.For<>() for every "burst" of activity? Or once for lifetime of whole Windows Service (weeks if not months at a time)?

In short. Wh

[2019-05-02 07:01] JarkoDubbeldam opened #657 "Support inheriting from HttpMethodAttribute's children"
**Is your feature request related to a problem? Please describe.**

I currently have an attribute that inherits from `PostAttribute`, that does some additional work to set its path property. The problem with that is that the codegeneration tool that implements the interface looks for a `PostAttribute` (or another of the `HttpMethodAttribute`-family), and thus skips over the interface altogether. T

[2019-05-05 19:37] NGumby opened #659 "[BUG] Method not generated when used in preprocessor condition"
**Describe the bug**

Method is not generated in RefitStubs.g.cs when it is in a preprocessor condition

**Steps To Reproduce**

Add OLDWEB in build Compilation conditional symbols.

[code]
gives this error when compiling
[code]

If I remove the #if, it works fine.

**Expected behavior**

To compile without errors

**Screenshots**

**Environment**

- OS:
- Version
- Device:

VS 21019
Xamarin
Refit

[2019-05-06 06:24] scharada opened #660 "IDisposable Interfaces"
using (var client = RestService.For<IInterface>(Url))
{
// code here
}

this requires the Interface to be IDisposable which makes sense , but when you make It IDisposable, it asks for a Dispose() Method..  but it's an interface .... the code generation needs to generate the appropriate Dispose call when an interface inherits from IDisposable.

[2019-05-08 07:24] aliabdoli commented on #204
It seems this ticket has been around for a while. So, wondering if anyone is working on it? otherwise, can I work on it and contribute?

[2019-05-08 09:38] ashleyemery opened #661 "[BUG] Wrong method called when Refit interface has duplicate names."
**Describe the bug**
Recently I was using Refit to call a controller with two Patch methods.  The methods had identical names but included different JsonPatchDocument types.

[code]
The behaviour I observed was that if the first method in the interface was called, Refit correctly called the Patch Student method on the controller.  However if I then called the second method it again called the Patc

[2019-05-10 00:36] pit-hub opened #662 "[BUG] Performance issue in For<T>(client, builder) and For(refitInterfaceType, client, builder) of Refit.RestService"
**Describe the bug**
RestService uses ConcurrentDictionary to cache pairs of <Refit REST interface, Refit Generated Client Proxy>.

ConcurrentDictionary.GetOrAdd provides the following overloads

* GetOrAdd(TKey, Func<TKey,TValue>) - Adds a key/value pair to the ConcurrentDictionary<TKey,TValue> by using the specified function if the key does not already exist. Returns the new value, or the existi

[2019-05-10 14:47] ashleyemery commented on #661
I did some further testing and can confirm that the bug does not occur if the identically named methods have different numbers of parameters or if one of the JsonPatchDocument parameters is replaced with a completely different type of class.  I think it must be to do with the method signatures being cached without reference to the type included in the generic JsonPatchDocument.

[2019-05-14 14:40] onovotny commented on #662
@pit-hub can you please submit a PR?

[2019-05-24 07:00] zshankang opened #664 "[BUG] can not compile"
**Describe the bug**

can not compile.
MSB4018	“GenerateDepsFile”任务意外失败。
System.ArgumentException: '4.7.0-' is not a valid version string.
参数名: value
   在 NuGet.Versioning.NuGetVersion.Parse(String value)
   在 Microsoft.NET.Build.Tasks.DependencyContextBuilder.CreateRuntimeLibrary(String type, String name, String version, String hash, IReadOnlyList`1 runtimeAssemblyGroups, IReadOnlyList`1 nativeLi

[2019-06-03 12:43] tehort opened #665 "HTTPS Connection: adding password on header - Is this safe?"
I`m setting up a new WebAPI server (ASP NET), we're using HTTPS and checking for a valid password, which is passed through the message header.

Server side, I can check if every package is delivered through HTTPS, and if it contains the correct header with password information.

My question is: We're using refit on the API client, inserting the password as a header on every package. Can the client

[2019-06-04 15:41] Denaindra commented on #228
HI @thefex ,
I also getting the same issue when rendering the image from a service. may I know which service fixed this issue?

[2019-06-04 16:20] Denaindra opened #666 "Unexpected character encountered while parsing value:"
**Describe the bug**

When trying to do a Get request for retrieve an image I'm suddenly getting following error (Please check attached image). here below mentioned my request. Refit version - 4.6.58

[code]

**Screenshots**

**Environment**

Xamarin forms IOS

**Additional context**
![Screenshot 2019-06-04 at 9 35 26 PM](https://user-images.githubusercontent.com/20808824/58895856-801c2500-8712-11

[2019-06-04 17:50] hiraldesai commented on #531
Fix by @onovotny mentioned in #537 kind of gives me what I was looking for.

[2019-06-04 17:50] #531 closed

[2019-06-05 05:22] pit-hub commented on #662
Hi @onovotny as @yuri-voloshyn did some work about it on PR: #663. In my turn I've made some improvements to it's PR. More details here: [PR 663](https://github.com/reactiveui/refit/pull/663#issuecomment-495470957)

[2019-06-05 08:45] PeterBenko opened #667 "4.7.x on NuGet"
Hi,

Would it be possible to publish 4.7 (4.7.1 ?) to NuGet? We would need #658 in the very near future.

Thank you!

[2019-06-05 12:44] onovotny commented on #662
@pit-hub can you please submit a new PR? I do prefer not to modify state on the `HttpClient` instance for the reasons you mentioned.

[2019-06-05 21:50] onovotny commented on #667
4.7.5 is now there

[2019-06-05 21:50] #667 closed

[2019-06-05 23:16] #627 closed

[2019-06-05 23:16] #637 closed

[2019-06-05 23:17] #573 closed

[2019-06-06 08:14] martincostello opened #670 "Be less aggressive with dependency updates in core library?"
Refit currently depends on Newtonsoft.Json 12.0.1, but this is problematic in some usage scenarios where the overall dependency graph of an application may have constraints on the version of Newtonsoft.Json that can be used.

Here's a concrete example:

I have an Azure function which consumes Refit, and part of the Azure Functions SDK has a requirement to use Newtonsoft.Json 11.0.2.

This currentl

[2019-06-06 08:17] bennor commented on #670
I ran into this problem myself with AF recently. Will take a look.

[2019-06-06 11:39] bennor commented on #666
By default, Refit will assume your response as JSON, but your image response is binary. You can fix this by changing the return type of your method to `Task<Stream>` then doing something with the stream. There's a little more info in the [Body content](https://github.com/reactiveui/refit#body-content) section of the README.

However, if you'd prefer to get a `byte[]` for your image, you can set th

[2019-06-06 11:39] #666 closed

[2019-06-06 11:59] bennor commented on #665
Refit uses the standard .NET `HttpClient` (you're using one explicitly in your example), so it is as secure as if you were using `HttpClient` directly.

In your example, you're setting the base address to an HTTPS URI and that's all Refit will ever use to initiate requests.

However, if your server redirected to a HTTP URI (which is very unlikely) and the `HttpClient` was configured to auto-follow

[2019-06-06 11:59] #665 closed

[2019-06-07 17:54] vivekse opened #672 "[BUG] Content-Type header does not apply"
[code]
Header "Content-Type: application/json" is not applied to request in above sample

[2019-06-08 10:46] bennor commented on #672
I can't reproduce this in a console app using the [httpbin.org post API](https://httpbin.org/#/HTTP_Methods/post_post).

[code]

Gives this output (the httpbin API in question responds with information about the _request_ it received):

[code]

We also have [a test for this exact thing](https://github.com/reactiveui/refit/blob/a1bfe49ff616c26823d1cad79130f9164a90b778/Refit.Tests/RequestBuilder.cs#

[2019-06-08 10:46] #672 closed

[2019-06-08 10:51] bennor commented on #660
I'm not sure it should be disposed. That would result in disposing of (or abandoning) the `HttpClient` instance it created, which [isn't the way you're supposed to work with HttpClient](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-avai

[2019-06-08 11:03] bennor commented on #656
In general, you should use the `Refit.HttpClientFactory` package, and not worry about it too much. There's a good breakdown of why here, and it's worth taking a few minutes to read it: https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

However, if you don't have using `HttpClientFa

[2019-06-08 11:03] #656 closed

[2019-06-08 11:13] #630 closed

[2019-06-08 12:25] bennor commented on #135
Better late than never, eh? 😹

[2019-06-08 13:21] benjaminhowarth1 commented on #661
I'll try and write a unit test to reproduce this.

[2019-06-08 13:59] #135 closed

[2019-06-08 19:58] bennor commented on #670
As mentioned in the discussion on #671, this is really a problem with AF, and it's been logged as an [issue with the functions runtime](https://github.com/Azure/azure-functions-host/issues/4049).

In light of that, and the large number of bug fixes to Json.NET between 9.0.1 and the version we're on, we've decided to keep it the way it is.

[2019-06-08 19:58] #670 closed

[2019-06-08 20:04] bennor commented on #75
I'm not sure exactly when it was added, but XML is supported in request and response bodies now.

Docs here: https://github.com/reactiveui/refit/blob/master/README.md#xml-content

[2019-06-08 20:04] #75 closed

[2019-06-08 20:09] #193 closed

[2019-06-08 20:09] bennor commented on #193
Can't see why this was reopened.

[2019-06-08 20:21] bennor commented on #204
@aliabdoli If you really want to do it, it might be okay under the following condition:

**Before automatically adding an accept header to the request, you need to be sure that we're going to be deserializing the response as JSON.**

That means it can't happen in any of the following situations:

- there is a custom `ContentSerializer` set in `RefitSettings`
- the method return type is `Task`, `Ta

[2019-06-08 20:25] bennor commented on #229
@onovotny, has this been clarified in the docs yet?

[2019-06-08 20:27] onovotny commented on #229
We talk about auth here https://github.com/reactiveui/refit#authorization-dynamic-headers-redux, but I'm sure it could be better

[2019-06-08 20:34] bennor commented on #233
Closing, as it can be instantiated.

There's another issue that will hopefully make raising it yourself unnecessary in future.

[2019-06-08 20:35] #233 closed

[2019-06-08 20:36] bennor commented on #229
I've felt for a long time that the docs could do with a serious overhaul. I should have some time soon to look at actually doing it. 🤣🎉

Do you want to keep this open as a reminder or should I start up a separate issue for docs overhaul and add this as a bullet point?

[2019-06-08 20:42] onovotny commented on #229
A new issue for the docs is probably better

[2019-06-09 17:12] benjaminhowarth1 commented on #592
@whoiskevinrich I believe this is now fixed by the latest release: https://github.com/reactiveui/refit/pull/629

[2019-06-09 17:18] benjaminhowarth1 opened #685 "Model validation for POCOs as parameters"
Problem: Twitter's API can in some places make one parameter required, or two parameters combined as required (example: https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-members - whereby the list ID is either required, or the two parameters "slug" and "owner_id" or "owner_screenname".

Currently I'm using string properties, with private nullable

[2019-06-09 22:11] benjaminhowarth1 commented on #597
@onovotny please close

[2019-06-09 22:12] benjaminhowarth1 commented on #591
I'll pick this up.

[2019-06-09 22:13] benjaminhowarth1 commented on #588
@onovotny please close

[2019-06-09 22:17] benjaminhowarth1 commented on #574
Hey @ChristianSauer:
1) can you provide a sample project (code & dependencies) that demonstrates the flaw?
2) have you upgraded to the latest Refit library?
3) pending #2, is this still an issue?

[2019-06-09 22:18] benjaminhowarth1 commented on #572
@onovotny recommend close

[2019-06-10 02:22] #592 closed

[2019-06-10 02:22] #597 closed

[2019-06-10 02:23] #588 closed

[2019-06-10 02:24] #572 closed

[2019-06-10 02:25] bennor commented on #574
Could be due to this:

From https://github.com/reactiveui/refit#using-httpclientfactory

[2019-06-10 23:32] bennor commented on #685
I'm not sure this belongs in Refit itself. We normally suggest using alternative libraries to provide features that aren't directly tied to calling the API and handling the response. (A good example here is that we have suggested using Polly instead of us adding automatic retries to Refit.)

What might be better is providing an example of how to build this yourself using Fluent Validation as an ex

[2019-06-11 03:00] bennor commented on #458
It's now possible to deserialize XML. See: https://github.com/reactiveui/refit#xml-content

[2019-06-11 03:00] #458 closed

[2019-06-11 03:02] bennor commented on #471
The original request here is now possible: https://github.com/reactiveui/refit#interface-inheritance

[2019-06-11 03:02] #471 closed

[2019-06-11 03:18] bennor commented on #465
This might be better achieved with the property support described in #163. If/when that's implemented, I think this makes sense.

[2019-06-11 03:19] bennor commented on #468
Closing due to lack of response.

[2019-06-11 03:19] #468 closed

[2019-06-11 03:24] bennor commented on #210
Fixed in #640.

[2019-06-11 03:24] #210 closed

[2019-06-11 03:25] bennor commented on #202
Closing because it's 4 years old, a probable duplicate of a few other issues and hasn't been followed up.

[2019-06-11 03:25] #202 closed

[2019-06-11 03:26] bennor commented on #197
This could (should?) also be achieved by allowing the headers value to be a dictionary.

[2019-06-11 03:31] bennor commented on #325
Closing due to no response in over a year. Reopen if it's still an issue.

[2019-06-11 03:31] #325 closed

[2019-06-11 19:58] hansmbakker commented on #471
@bennor thank you!

[2019-06-11 23:45] Elfocrash opened #686 "[BUG] Refit is not generating implementations if added as an indirect reference"
**Refit is not generating implementations if added as an indirect reference**

Currently I have the following scenario. I want to have a project called `Api.Client` and another one called `Api.Client.Consumer`. The `Api.Client` one is a .NET Standard 2.0 project which will refer to Refit, do some configuration and offer an extension method to allow the user to provide their own Refit API interface

[2019-06-12 09:19] mikegoatly opened #687 "[BUG] Nullable [Query] parameters malformed in v4.7.9"
**Describe the bug**
Since updating from 4.6.107 to 4.7.9 requests that rely on nullable parameters marked with the [Query] attribute are sent through with the incorrect parameter name.

**Steps To Reproduce**
Given this interface:

[code]

When calling the client like this:

[code]

I'm seeing the request sent as:

[code]

**Expected behavior**
The request should be sent as:

[code]

**Environmen

[2019-06-12 10:25] bennor commented on #687
Definitely looks like a bug there, but you shouldn't need the `[Query]` attributes on any but the last parameter.

I don't expect removing them to help much and even if it does, you can't take it off the last parameter anyway.

[2019-06-12 13:26] benjaminhowarth1 commented on #687
I'm going to pick this up.

[2019-06-12 18:48] benjaminhowarth1 commented on #687
Basically the support for POCO objects as [Query] parameters was scoped to include support for arrays and IEnumerable's (which there are already test cases for, thus non-breaking), but nullable support has never been explicitly tested for, and thus automatically "worked" before we started explicitly checking the type of the [Query] param.
"string?" and corresponding nullables compile into a Nullab

[2019-06-13 02:22] lneninger commented on #542
The same here

[2019-06-13 07:37] aliabdoli commented on #204
@bennor I m on it. I ll send the pr. thanks for help

[2019-06-13 14:02] nick-chapsas-cko opened #688 "[BUG] AddRefitClient doesn't use the AuthorizationHeaderValueGetter"

[2019-06-13 14:30] #688 closed

[2019-06-13 14:31] Styxxy commented on #688
So it isn't a problem?

[2019-06-13 14:32] nick-chapsas-cko commented on #688
@Styxxy  No I created this with the wrong github account. I will recreate it with my personal one.

[2019-06-13 14:32] Elfocrash opened #689 "[BUG] AddRefitClient doesn't use the AuthorizationHeaderValueGetter"
**Describe the bug**
If I use the AddRefitClient to register my client then the AuthorizationHeaderValueGetter isn't used.

I have the following interface and the following settings:
[code]

If i call `RestService.For<ISomeApi>("https://api.test.com", refitSettings)` then my call is properly populated with the `Authorization` header having a value `Bearer AuthKey`.

However if I use the same `ISom

[2019-06-13 17:21] soooraj opened #690 "[Doubt] HTTP Get method with json"
I my app I need to call a GET method with json string as query parameter. For example [https://www.nikserice.com?parameter={ "name":"John", "age":30, "car":null }](url)

Is it possible for me to invoke get method by passing the object of the json?

Or Do I need to deserialize the json and then pass it. What is the proffered method to achieve this.? in Refit.

[2019-06-13 17:37] glennawatson commented on #690
Please ask questions on stack overflow or Slack.

[2019-06-13 17:37] #690 closed

[2019-06-13 19:52] jdang67 opened #691 "How to use query string to get data"
Hi,

I checked the documentation but could not find an easy way to get data with the existing query string

For example,  I have  the following setup
[code]

the query string at runtime is dynamic .. and it throws an exception
_Unexpected character encountered while parsing value: <. Path '', line 0, position 0._

Anything wrong with the way I use the library? Any help would be appreciated.

jdang

[2019-06-13 21:24] Styxxy commented on #689
Might be similar like #574 , because of the HttpClientFactory. To be determined though.

[2019-06-13 21:49] Elfocrash commented on #689
After some debugging it looks like the AddRefitClient path completely ignores the Handler selection

[2019-06-14 08:23] hhuseyinpay commented on #687
I have similar issue.

[code]
in 4.7.9 request sent as: date/?ordering=created_day&Date=1&Day=2019-06-13
in 4.6.107 request sent as: date/?ordering=created_day&date=2019-06-13&student=1

[2019-06-14 08:27] benjaminhowarth1 commented on #687
@hhuseyinpay thanks for an additional test case, I'll pick this up over the weekend.

[2019-06-14 11:58] #687 closed

[2019-06-14 12:46] anicething commented on #691
I had met  the same problem too.

[2019-06-14 12:49] benjaminhowarth1 commented on #691
Are you trying to retrieve JSON or XML data?

[2019-06-15 06:37] VikasPawar2112 commented on #622
@alec-lieberman-ef have you solved this issue? If not then please share the related code snippet and API endpoint definition.

[2019-06-16 09:53] IgorStrekha opened #693 "How use Static + Dynamic headers"
I would like to set both a dynamic AND a static header. For this one specific call I need to set a content-type of application/json (for others, I do not), but I also need to pass a dynamic bearer token.

Is this valid and will it pass both content-type AND authorization: bearer ?

[code]

It does not work.

[2019-06-16 10:11] bennor commented on #693
What is it not doing that you expect it to? If a header is missing, which one?

[2019-06-16 10:28] bennor commented on #693
Here's an example program that shows it working using https://httpbin.org/ (which responds with info about the request):

[code]

And the output:

[code]

[2019-06-16 10:44] benjaminhowarth1 commented on #693
If I'm not mistaken, it's because the [Header] attribute in OP's code is on the method, not the containing class.

[2019-06-16 11:15] bennor commented on #693
That is different, but I wouldn't expect it to be make a difference. Class or method should work for a static header.

I'll check tomorrow to make sure.

[2019-06-16 12:06] IgorStrekha commented on #693
Document says us:

Redefining headers
Unlike Retrofit, where headers do not overwrite each other and are all added to the request regardless of how many times the same header is defined, Refit takes a similar approach to the approach ASP.NET MVC takes with action filters — redefining a header will replace it, in the following order of precedence:

Headers attribute on the interface (lowest priorit

[2019-06-16 19:49] bennor commented on #693
@IgorStrekha I can see how that might be a bit confusing but "redefining" means redefining the same header name. `Content-Type` and `Authorization` are different headers, so the auth header won't replace the content type header. (I've shown an example of this working as expected too.)

I'll add something to the docs to clarify what "redefining" means.

[2019-06-16 23:13] bennor commented on #693
Have confirmed that it makes no difference whether the attribute is on the interface or the method.

Running this:

[code]

Gives this output:

[code]

[2019-06-17 11:15] BackDoorManUC commented on #533
Tried to use this: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/proxy-element-network-settings

But doesn't work surprisingly.

[2019-06-17 11:20] bennor commented on #533
I'm not sure whether or not those config settings are supposed to influence the behavior of `HttpClient`, but something like this should work for you: https://stackoverflow.com/a/30605900/14451

[2019-06-17 11:37] BackDoorManUC commented on #533
@bennor this config setting works when using `HttpClient` directly but surprisingly it doesn't work with Refit. I was looking for an easy way without changing my code to see requests in Fiddler.

[2019-06-17 11:49] BackDoorManUC commented on #660
Due to a bug: https://github.com/reactiveui/refit/issues/449 we cannot use Refit as a singleton. There's HttpClient created for every request. Might be related.

[2019-06-18 17:57] benjaminhowarth1 commented on #522
This should be fixed in the latest (4.9.20) release on Myget. Recommend closing.

[2019-06-18 17:58] benjaminhowarth1 commented on #466
Recommend closing as documented behaviour.

[2019-06-18 18:16] #466 closed

[2019-06-19 09:41] #522 closed

[2019-06-19 10:13] dEEf opened #695 "set StreamReader encoding"
**Is your feature request related to a problem? Please describe.**

When reading JSON response set the encoding so special characters will be displayed correctly.

**Describe the solution you'd like**

**RefitSettings.cs**
`using (var reader = new StreamReader(stream))`
becomes
`using (var reader = new StreamReader(stream, Encoding.GetEncoding("iso-8859-1"))`
where encoding **Encoding.GetEncoding(

[2019-06-19 10:42] benjaminhowarth1 commented on #695
This isn't in RefitSettings.cs - what is though, is the option to specify your own IContentSerializer.
The default JsonContentSerializer can be derived from, which is where StreamReader is used. You can override SerializeAsync and DeserializeAsync accordingly to support encodings you need.

[2019-06-19 10:51] dEEf commented on #695
Great, thank you for the feedback

[2019-06-19 10:51] #695 closed

[2019-06-21 16:51] finsharp opened #696 "Question Handling Arrays in ApiAttributes"
[Get("/group/{id}/users")]
Task<List<User>> GroupList([AliasAs("id")] int groupId, [AliasAs("sort")] string sortOrder);

Works fine, However

[Get("/group/{ids}/users")]
Task<List<User>> GroupList([AliasAs("ids")] int [] groupId, [AliasAs("sort")] string sortOrder);

The type of the array is used in the url instead of the items in the array.

Is it possible to use ids as an array in a similar way

[2019-06-24 14:50] bjornemannens opened #697 "Dynamic boundary for multipart requests"
A dynamic boundary string is necessary in order to communicate with some API:s.

[2019-06-25 13:30] Cheesebaron commented on #697
https://github.com/reactiveui/refit/blob/master/Refit/RequestBuilderImplementation.cs#L441

I guess it wouldn't take much to allow overriding this.

[2019-06-28 00:40] #693 closed

[2019-06-28 11:33] wrathofodin commented on #653
Refit should move away from Json.NET to the new `System.Text.Json`

[2019-06-28 11:34] benjaminhowarth1 commented on #653
Given that's quite a new implementation, we'll need to check compatibility with .NET 4.6.1 & Standard 1.4 first, but I'd agree we should consider it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: wrathofodin <notifications@github.com>
Sent: Friday, June 28, 2019 12:33:02 PM
To: reactiveui/refit
Cc: Subscribed
Subject: Re: [reactiveui/refit] IContentSeriali

[2019-06-28 11:37] onovotny commented on #653
.NET Standard 1.4 is no longer relevant as .NET Core 1.0 and 1.1 are both out of support now. .NET Standard 2 is our minimum.

[2019-06-28 11:42] onovotny commented on #653
Keep in mind that Json.NET is far more flexible than System.Text.Json. The latter is meant for raw perf but the former can adapt to more shapes.

If we go with Sys.Text.Json for the default, we may want to provide an optional package that provides a Json.Net serializer/deserializer as well.

[2019-07-01 14:54] CK-Yong commented on #687
@onovotny Hi, awesome that this issue was picked up so quick! Any word on when this fix will be released? I don't see anything regarding a release schedule within the docs.

Thanks!

[2019-07-01 15:15] benjaminhowarth1 commented on #687
This is available on the public MyGet feed if you need to use it ASAP – v4.7.20 and above: https://www.myget.org/F/refit/api/v3/index.json.

From: CK Yong <notifications@github.com>
Sent: 01 July 2019 15:55
To: reactiveui/refit <refit@noreply.github.com>
Cc: Benjamin Howarth <iam@benjaminhowarth.com>; Comment <comment@noreply.github.com>
Subject: Re: [reactiveui/refit] [BUG] Nullable [Query] param

[2019-07-02 09:33] teresaritorto commented on #522
@benjaminhowarth1 any idea when this is available via nuget?

[2019-07-02 11:47] benjaminhowarth1 commented on #522
@teresaritorto if you're comfortable with it, you can use the MyGet feed to install the "bleeding edge" release of Refit. Add this to your package repository in Visual Studio: https://www.myget.org/F/refit/api/v3/index.json

[2019-07-03 13:24] Elfocrash opened #705 "[Question] Visibility of AuthenticatedHttpClientHandler and AuthenticatedParameterizedHttpClientHandler"
So let me give you some background.

---

### Background

I am using Refit in the `WebApplicationFactory` of .NET Core to run in-memory integration tests against my API.

By default if I do `appFactory.CreateClient()` I will get a client back to access the `TestServer`. After that I do `RestService.For<MyApi>(httpClient)` and I get the api client interface back. However if my endpoint has an auth

[2019-07-04 20:52] benjaminhowarth1 commented on #705
I added the `AuthenticatedParameterizedHttpClientHandler` because @onovotny said that if we changed the method signature on `AuthenticatedHttpClientHandler`, then we'd have a breaking API change.
The `AuthenticatedParameterizedHttpClientHandler` passes the HttpRequestMessage in as a parameter, in case your auth mechanism requires information about the request being made (see Twitter's API as an ex

[2019-07-05 08:14] Elfocrash commented on #705
Okey, gotcha. Thanks.

[2019-07-05 08:14] #705 closed

[2019-07-09 10:03] swapnil591 opened #706 "TinyIoC.TinyIoCResolutionException: Unable to resolve type: Mobility.Services.CallApiService.ApiService ---> System.ArgumentException: Multipart requests may not contain a Body parameter"
Build time error for calling multipart api with class object as [body]

[2019-07-09 17:34] benjaminhowarth1 commented on #706
Hi there, unfortunately multipart requests can only accept certain types as their body parameters ([Body] is automatically implied with a non-URL parameter), which are documented here: https://github.com/reactiveui/refit#multipart-uploads

[2019-07-09 18:19] benjaminhowarth1 commented on #697
PR with tests written and ready to merge for the next release.

[2019-07-09 18:20] benjaminhowarth1 commented on #696
Good question. I'll write a test case for this.

[2019-07-10 08:48] emumanu opened #708 "[BUG] Wrong code with interface inheritance"
**Describe the bug**
The generated code does not compile when using interface inheritance.

**Steps To Reproduce**

The interfaces are:

[code]
When I build the project I've got the error ```'AutoGeneratedICrudWebApi<TEntityDto, TKey>' does not implement interface member 'IReadOnlyCrudWebApi<TEntityDto, TKey>.Get(TKey)'```

and the generated code is:

[code]

**Expected behavior**
As you can see,

[2019-07-12 10:45] hRupanjan opened #709 "'System.ObjectDisposedException' on awaiting a API method"
**Describe the bug**

I got this Exception

[code]

while executing this

[code]

This 'Login' method was awaited if you want more info. I'm getting this error repeatedly.

**Environment**

- OS:       Android
- Version:   9 (Pie)
- Device:   Redmi Note 5 Pro

[2019-07-12 12:17] b099l3 opened #711 "[BUG] Android throws Time Out Exception when sending multiple PUT calls"
**Describe the bug**
When running multiple calls on Android, A time out exception is thrown after about ~18 calls. This does not happen on UWP

This may be due to me not setting something up correctly or missing a cancellation section but I have created a sample app to highlight this issue:
https://github.com/b099l3/RefitTest

This doesn't happen when using httpclient directly or using flurl.

**S

[2019-07-15 04:03] natelaff commented on #573
Even with 4.7.9 I can't get this to work in ASP.NET Core. The docs on this topic are just about useless. Anyone getting this to actually work?

[2019-07-15 06:58] ericontilt commented on #573
Thanks to the suggestions above, I did get it to work without problems. I would submit the example, but I don't have access to the code within the next two weeks.

[2019-07-15 08:11] 19balazs86 commented on #573
Thanks in advance. (I still can use the solution, which I wrote until the official one)

[2019-07-15 10:45] wrathofodin commented on #449
Just tested it with https://github.com/canton7/RestEase and it has the same exact problem. I will see if I can find this nasty little bug...

[2019-07-15 14:48] breenbob commented on #573
I also can't get this to work in 4.7.9 when using in conjunction with `Refit.HttpClientFactory`, it only works when using the regular refit `RestService.For<T>(string hostUrl, RefitSettings settings)` as commented previously. As a workaround I was passing Authorization as parameter individually to each API method call, but this is a pain. Not sure about method above for calling `AddHttpMessageHand

[2019-07-15 15:26] natelaff commented on #573
Well I'm glad that I'm not the only one that can't make this work as intended, as well as not being able to make sense of the docs. Rather than show a sample they show classes that one of which is internal. So for hours I'm looking at this like "do I copy and paste this class into my project?"

I will use the proposed work around, but it seems like this issue should be reopened as the commit didn'

[2019-07-15 16:16] 19balazs86 commented on #573
Hi All,
[Here is the Startup class](https://github.com/19balazs86/PlayingWithRefit/blob/master/PlayingWithRefit/Startup.cs), where I configured Refit with HttpMessageHandler.
The repository is meant to work with the Refit library (4.7.9).
For me, it works and I can use/accept this workaround.
I hope it helps you.

[2019-07-15 16:40] natelaff commented on #573
Ah thanks, you're just pulling that whole handler in. Which honestly is probably what I need to do anyways since I don't think I can access the current httpcontext, which is where my access token is, directly in that func anyways. Meanwhile, if anyone has any example of just integrating this with Auth0 that would be super rad ;)

[2019-07-15 19:40] Arlodotexe commented on #709
I've also started getting this issue a lot. It appeared seemingly out of nowhere, and can happen on any API call I make. Looking through my Git history, I cannot for the life of me tell what I changed to cause it.

My app is now constantly crashing for about 4k users. It's very important that I fix this bug.

I've been able to catch the exception by running `response.EnsureSuccessStatusCode()` in

[2019-07-15 22:58] natelaff commented on #593
Confused on this too. Did you ever get it to work?

[2019-07-16 20:47] wrathofodin commented on #449
What I observed today - this bug is not present in .NET Core. It's only present in .NET Framework. I will test with .NET Framework 4.8 later and update this comment. Any ideas?

[2019-07-17 17:27] moliver-bb commented on #522
@benjaminhowarth1 i'm only seeing 4.7.40 as the latest version in myget, is the correct version to use this fix? thanks so much!

[2019-07-17 19:56] robichaud commented on #277
I'm going to take a stab at this and should be able to submit a PR in the next day or so.

[2019-07-17 20:20] moliver-bb opened #712 "[BUG] Index out of bounds Error when passing array as Query if its not first parameter"
**Describe the bug**
`
[Get("/v1/project/{projectId}/markups")]
Task<List<Users>> GetMarkups(string projectId, [Query(CollectionFormat.Multi)] string[] status);
`
fails with:
`
System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: index
   at System.Linq.Enumerable.ElementAt[TSource](IEnumerable`1 source, Int32 index)
   at Refit.RequestBuilde

[2019-07-18 10:26] benjaminhowarth1 commented on #712
I'll take this one.

[2019-07-18 10:28] benjaminhowarth1 commented on #522
@moliver-bb any version after 4.7.20 should have this fixed, so yes, 4.7.40 should have it. My pleasure! 🙂

[2019-07-18 12:02] SergeyE85 opened #714 "Url Encoding"
Hello.

I have some issue.
I want to perform the query something like this [Get("/...?$filter=Id eq '{id}'$top=100$orderby=Id desc")]

As I understand url encoding is performed by default in refit.
And I get something like ...?%24filter=Id%20eq%20%27<id value>%27%24top%3D100%24orderby%3DId%20desc
But I expect [Get("/...?$filter=Id+eq+%27{id}%27$top=100$orderby=Id+desc")]

I tried different setting

[2019-07-18 13:30] benjaminhowarth1 commented on #714
@SergeyE85 is this an OData APIURL, by any chance?

[2019-07-18 15:56] wahmedswl opened #715 "[BUG] RefitStubs.g.cs is empty"
**Describe the bug**

```RefitStubs.g.cs``` generated is empty, checked it in obj folder

[code]

I have following interface defined with ```Refit```

[code]

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Environment**

- OS:       Windows, .Net461
- Version
- Device:

**Additional context**

[2019-07-18 17:16] onovotny commented on #715
Have you tried it without the constants?

[2019-07-18 17:41] SergeyE85 commented on #714
@benjaminhowarth1 Yep I think. It is an url with queries parts.

[2019-07-18 18:22] wahmedswl commented on #715
@onovotny thanks for your reply. Yes, it worked without Constants. So, is this the way to go and Constants won't work?

[2019-07-18 19:12] onovotny commented on #715
Correct, see the main issue here:
https://github.com/reactiveui/refit/issues/602

Closing as dup of #602

[2019-07-18 19:12] #715 closed

[2019-07-18 19:51] benjaminhowarth1 commented on #263
I'm happy calling it that we shouldn't support this, constants aren't supported in default variable values in the C# up to and including version 8 (you can't specify a default string value as `string.Empty`, I don't see why they should be supported in parameter values.

[2019-07-18 19:54] benjaminhowarth1 commented on #715
I added comments on #263, basically constants aren't supported as default values in any optional params, up to and including C# 8, I don't see why we should support them in param values, as it'll involve Roslyn work which would require a refactor too substantial to warrant as a feature improvement.

[2019-07-19 06:43] SergeyE85 commented on #714
@benjaminhowarth1 Do you know anything about it ?

[2019-07-19 08:08] Cantaria commented on #650
Hi,
the same problem occurs when you use different namespaces.

I've uploaded the test project from my company here https://github.com/Cantaria/refitInheritanceTest

The project can't be build, because the ReFit interfaces (IDerivedServiceA) in the test-project are in different namespaces. If you put the interfaces into the same namespace, everything will work.

[2019-07-19 10:07] wrathofodin commented on #449
OK I FOUND IT

Looks like this is `HttpClient` issue and not a Refit issue (RestEase has the same problem - coincidence? - no). `HttpCompletionOption.ResponseHeadersRead` is causing this. `HttpCompletionOption.ResponseContentRead` is the default.

https://github.com/reactiveui/refit/blob/806cab2e643bbe3758447704df6a73e5ef52f8eb/Refit/RequestBuilderImplementation.cs#L250

It's not present in .NET C

[2019-07-21 12:49] benjaminhowarth1 commented on #714
@SergeyE85 have you considered using https://www.nuget.org/packages/Microsoft.OData.Client/ instead of Refit for connecting to an OData API?

[2019-07-21 17:29] marshal-nash commented on #593
It's been some time, but I think I used a workaround by adding a custom attribute and a custom HttpMessageHandler to add the authorization header.

[2019-07-22 16:40] mostafa-boden commented on #322
I have similar issue.

[2019-07-22 23:08] bennor commented on #322
This is standard behavior for .NET's `HttpClient`. You can turn cookies off on the `HttpClientHandler` instance:

[code]

[2019-07-22 23:08] #322 closed

[2019-07-23 00:23] bennor commented on #263
@benjaminhowarth1 The original request was for constant values to work in attribute parameters, which is something .NET supports.

The problem is more about how we generate the interfaces. There are a whole class of issues that relate to the fact that we do syntax analysis on the project only, as opposed to semantic analysis factoring in the whole solution. Changing over would be a big change and

[2019-07-23 00:27] bennor commented on #449
So definitely looks like our bug. IIRC RestEase was originally forked (or copied) from Refit by some people who wanted features we weren't prepared to add, so it's possible they inherited the same bug.

[2019-07-23 11:34] benjaminhowarth1 commented on #263
Ah, I didn't realise, thanks! Interface inheritance also has issues around this, right?

[2019-07-23 16:12] InciDuzenli opened #716 "Manual adding refit dll error"
**Describe the bug**
I adding refit dll by manually in visual studio .net framework 4.6.1 web project. When I build it get an error. Error is "doesn't look like a Refit interface. Make sure it has at least one method with a Refit HTTP method attribute and Refit is installed in the project". I dont want to install refit by manage nuget. My project does not use nuget packages. All references added m

[2019-07-23 21:14] bennor commented on #263
Yeah. There are a few others too. I've tagged them with the `semantic-analysis` label until we figure out what to do with them.

[2019-07-23 21:18] bennor commented on #716
To do this, which is totally unsupported, you would have to replicate the changes made to the csproj file when installing via NuGet.

The easiest way to do this is going to be to add refit via NuGet to another project, and do a diff on the changes to the csproj after installing Refit. Then replicate the changes.

[2019-07-23 21:18] #716 closed

[2019-07-24 09:01] wrathofodin commented on #449
I don't think it's a bug. Caller has to dispose `HttpResponseMessage` and that's it. Unless it deadlocks with custom response types.

https://github.com/reactiveui/refit/blob/master/Refit/RequestBuilderImplementation.cs#L253-L261

[2019-07-29 08:54] zhoucm666 opened #717 "Unable to resolve service for type IInterfaceService"
How to use extension method below to inject typed HttpClient?

public static IHttpClientBuilder AddRefitClient(this IServiceCollection services, Type refitInterfaceType, RefitSettings settings = null)
        {
            return services.AddHttpClient(UniqueName.ForType(refitInterfaceType))
                           .AddTypedClient((client, serviceProvider) => RestService.For(refitInterfaceType,

[2019-07-30 17:59] robsonj opened #718 "Custom query string"
I am trying to call a REST API, which is described as follows...

Usage: GET /api/storage/{repoKey}/{folder-path}?list[&deep=0/1][&depth=n][&listFolders=0/1][&mdTimestamps=0/1][&includeRootPath=0/1]

I am trying to form the URL... ```<host>/api/storage/<repoKey>/<folder-path>?list&deep=1```

How can I add the ?list&deep=1 to my url using Refit. It seems to always get dropped when I specify it as p

[2019-07-31 19:41] DOMZE commented on #712
Hello,

Having the same problem when using the multi parameter in the Query attribute

Here's the signature of the problematic method
`[Get("/api/v1/user/info")]
Task<IEnumerable<UserInformation>> GetUserInformationAsync([Header("Authorization")] string authorization, [Query(CollectionFormat.Multi)][AliasAs("userId")]IEnumerable<string> userIds);`

However this works
`[Get("/api/v1/user/info")]
Ta

[2019-08-01 17:47] CreepyGnome opened #719 "[BUG] Refit doesn't trap all exceptions and wrap with ApiException"
Currently it is stated, not in main readme/docs BTW but in issues, you only need to catch ApiException from a Refit call to a rest service. However for most of the common issues that can occur on any network call including rest services it doesn't ever throw it. Instead, it throws HttpRequestException which is not very useful at all as HttpRequestException has no status code, and its inner excepti

[2019-08-02 03:29] bennor commented on #719
I tend to agree - I've run into this issue myself. There are a couple of issues with catching these exceptions and raising an `ApiException` though:

1. There isn't a status code for the different error conditions that could cause an `HttpRequestException`. So that leaves us with two options:
    * make `ApiException.StatusCode` nullable (a breaking change)
    * don't set it (effectively setting

[2019-08-02 03:46] CreepyGnome commented on #719
While having one exception to rule them all, I personally rather have predictability and similar contracts with two exceptions that Refit could through as opposed to how it is now.  I think I would rather retain as much of the fidelity of the original data as possible.

I rather have a solution that doesn't introduce any breaking changes. I would think having ApiRequestException and ApiException i

[2019-08-02 09:33] armandelta2002 commented on #384
before send class convert to string and add one " fist string and add one " on last string then send body
sample code is :
[code]
and on server remove the " fist and last string like this:
[code]

[2019-08-02 13:20] onovotny commented on #719
If we introduce `ApiRequestException`, it could derive from `ApiException` and not change behavior, right? That could be the best option.

[2019-08-02 15:00] CreepyGnome commented on #719
IMO I don't think ApiRequestException should extend ApiException as it would be misleading as it should not have the StatusCode and if it extends the other it will always be 0. Other than that it would have all the other properties though, but it's not violating Dry as while it is duplicated it has a different purpose to change so should be separated.  ApiException is for all things refit can catc

[2019-08-06 10:47] agharium opened #724 "[Help] GET request not going through"
Hi all!

I have in my hands somekind of a pesky situation.

This is my code:

[code]

[code]

Why it's not working? It just keeps on somekind of a halt and the request doesnt ever comes back.

The same URL works perfectly on my browser:

![image](https://user-images.githubusercontent.com/28984633/62533830-0261bc00-b81e-11e9-8b3c-5fd97eb644b3.png)

I've used the `GetStates` method for this example

[2019-08-06 11:01] rdavisau commented on #724
It might be that your call is throwing an exception that is being 'ignored' due to the outer `Task.Run` block.

You could try wrapping the call to `await IBGE_API.GetStates()` in a try/catch and breaking in the catch handler or logging the exception to see if that's the case. If so the exception should give you a better idea of what the issue might be.

[2019-08-06 21:28] agharium commented on #724
@rdavisau Huge thanks for the input. Also, for debugging purposes I changed the method's return type to `HttpResponseMessage` (as https://reactiveui.github.io/refit/ suggests) and I was able to get some extra info on what was going on.

It ended up being something weird about the server API that I was trying to query. I changed to another API server (what I was looking for was public information)

[2019-08-06 21:28] #724 closed

[2019-08-16 18:37] ajshiff commented on #718
Hi @robsonj .

In your example url, it appears you have a query string key with no value. Did you mean it this way, or did you mean `<host>/api/storage/<repoKey>/<folder-path>?list%26deep=1`, where `%26` is the url encoding for the `&` character.

Refit currently strips out key value pairs in query strings that are missing either keys or values, regardless of whether they were hard coded or passed

[2019-08-16 19:14] ajshiff commented on #587
Hi @ahmedalejo .

There is a work around for this issue, but it is not clear or apparent. However, I am happy to say it is simple, and worked for me quite nicely.

Simply make the type contained in the enumerable, nullable. I believe this works because it turns the type (int, bool, enum, etc) into an object.

So your query params class would look like this: (note the `?` in the `int?[]`)

[code]

[2019-08-16 21:52] rubenmonteiro opened #728 "Use refit with wcf"
This is not a issue per si.
I would like to know if I can use refit on a wcf service.
Thanks for answering.

[2019-08-19 05:33] ML13 opened #729 "[BUG] An item with the same key has already been added. Key: 2"
**Describe the bug**
Refit intarface:
[code]
failt with:
[code]

**Steps To Reproduce**
[code]
**Environment**
- OS:       .net core 2.2 on Win10
- Version   4.7.9

**Additional context**
Same Refit interface works in 4.6.107.

[2019-08-19 12:18] rossbuggins opened #730 "[BUG] The HttpClient factory already has a registered client with the name"
**Describe the bug**
When moving from .Net Core 2.2 to 3.0 preview 8,  Adding a Refit Typed client to a HttpClientBuilder now fails with "The HttpClient factory already has a registered client with the name...."

**Steps To Reproduce**
[code]

**Expected behavior**
To run ok as per .net core 2.2

**Environment**

- OS:       Windows 10
- Version   .net core 3.0 preview 8. Refit 4.7.9
- Device:

[2019-08-20 10:39] benjaminhowarth1 commented on #587
This should've been fixed in a patch I submitted a few months ago, but Refit hasn't had a public Nuget release since then. You are welcome to use Myget to install 4.7.20, which should contain the necessary fix to handle this scenario.

[2019-08-20 15:35] benjaminhowarth1 commented on #729
Can you try the latest release please? 4.7.51 has just been publishe to Nuget.

[2019-08-20 15:37] benjaminhowarth1 commented on #712
@DOMZE @moliver-bb can you both try and reproduce in the latest Refit that just got published to Nuget, 4.7.51?

[2019-08-20 15:45] benjaminhowarth1 commented on #664
I'm assuming this is compiling the project from source, and there's little information as to environment or OS for this. Recommend closing as there's been no activity for over 2 months & a couple of version bumps have been released since this was opened.

[2019-08-20 15:48] #664 closed

[2019-08-20 16:04] benjaminhowarth1 commented on #696
I've just come back to this, you should be able to add a [Query] attribute with your separator of choice in the latest 4.7.51 release that just hit Nuget

[2019-08-20 16:51] GlennArens commented on #729
can confirm that in my case it solved the problem

[2019-08-20 22:51] benjaminhowarth1 commented on #729
Excellent, glad to hear this can be closed. 🙂

[2019-08-20 22:53] benjaminhowarth1 commented on #618
I'll pick this up.

[2019-08-21 04:51] ML13 commented on #729
It working in my case, thank you.

[2019-08-21 04:51] #729 closed

[2019-08-21 10:35] benjaminhowarth1 commented on #587
The latest Refit has been released to Nuget as 4.7.51, please update to this and let us know if you can still reproduce the problem.

[2019-08-21 18:32] CreepyGnome commented on #712
I am getting this same exception as of today but we don't use Query attribute or Query strings at all in any of our requests. Everything worked yesterday and today this just started occurring with 4.7.9 and updating to 4.7.51 didn't fix it.  I would have to assume this is a conflict with something environmental and I checked all my other packages and only one changes since yesterday so I reverted

[2019-08-21 18:50] CreepyGnome commented on #712
Update: Another developer who still had VIsual Studio 2019 16.2.2 reproduces the issue on his box as well. So this is multiple environments now leaving the changes have to be within the solution itself, and less likely being outside of it.

[2019-08-21 19:09] ajshiff commented on #587
@benjaminhowarth1 Thanks for your contribution so far.

I have updated to version 4.7.51, and successfully recreated the bug under the same conditions.

I have uploaded the code used to reproduce the bug using Refit v4.7.51, to the link below:
https://github.com/ajshiff/refit-ienumerable-query-bug

To reproduce the bug, the IEnumerable\<T\> must be a property or field within a container class, and

[2019-08-21 20:25] meeple142 commented on #587
First I want to thank everyone for the awesome package!
I want to add my demo of the same bug that @ajshiff  is talking about.
I add the `[Query(CollectionFormat.Multi)]` attribute to see if that helps.  Also I am using an array of `int`s not a `list` in my query object.

Take a look at [program.cs](https://github.com/meeple142/refit-query-bug/blob/master/RefitBug/Program.cs)

[whole repo](https:/

[2019-08-22 23:44] john-manktelow commented on #712
I'm getting the same exception, but only since 4.7.51. Changing the order of the parameters can work around it, though. For me, it's having a `[Header]` parameter first that triggers it.

**Repro**

[code]
**Exception**
[code]

**Workaround**
Change the order of the parameters, or revert to Refit 4.7.9

[2019-08-23 07:46] jbardon opened #732 "ObjectDisposedException throw when access to request content in ApiException"
**Is your feature request related to a problem? Please describe.**

On request error (not success status code) an ApiException is throw.
When catching it for analysing, it's not possible to access the request content (of a POST for example).

[code]

**Describe the solution you'd like**
I identified the problem located in `RequestBuilderImplementation::BuildCancellableTaskFuncForMethod`, the final

[2019-08-23 12:44] gsgou opened #733 "[BUG] Refit doesn't catch 415 as ApiException in Android while HttpClient does"
**Describe the bug**
In Xamarin Android with a test endpoint
a POST fails with 415
if not specifying Content-Type.

While a HttpClient implementation traps the Exception,
Refit ApiException or ValidationApiException do not.

**Steps To Reproduce**
I will add here over weekend a sample and steps to reproduce.

**Expected behavior**
Get an ApiException with status code 415

**Environment**

- OS: An

[2019-08-23 14:06] martincostello commented on #712
Same problem here with 4.7.51. This interface worked in 4.7.9 but throws `ArgumentOutOfRangeException` in 4.7.51:

[code]

[code]

I just noticed that it has an extra parameter left over from a previous version of code that's no longer used, which might be contributing to the problem.

[2019-08-23 14:13] martincostello commented on #712
Explicitly adding the query string parameter to the URL template works around the issue.

[2019-08-23 16:06] benjaminhowarth1 commented on #712
I think that because we added POCO support to [Query] params, the IndexOf function got modified, cause previously if you had an IEnumerable on the POCO, it threw index errors (if I recall my debugging sessions correctly).

I'll pick this up & look to try and fix before Tuesday, it's a 3-day weekend here in the UK.

[2019-08-23 17:28] onovotny commented on #712
Thanks. The CI feed is now on Azure Artifacts now btw.

Let’s ensure we have test cases that cover these scenarios too.

[2019-08-25 14:15] endeffects commented on #689
Any progress here?

[2019-08-25 14:40] Elfocrash commented on #689
I had to do some DI hack locally to get this to work on my project but no actual fix yet. Both AuthorizationHeaderValueGetter and the other requestMessage one are not working.

[2019-08-28 13:17] finsharp commented on #696
This worked
`
[Get("/customers/{identifiers}")]
Task<object> GetItems([Query(";")]long[] identifiers, [Query] QueryParams parameters);
`
but this didn't work
`
[Get("/customers/{identifiers}/items")]
Task<object> GetItems([Query(";")]long[] identifiers, [Query] QueryParams parameters);
`

[2019-08-28 15:32] candidodmv opened #734 "Complex types as MultiPartItem"
**Is your feature request related to a problem? Please describe.**

I came across the necessity to upload a file with additional information, in the real world, would be something like a formulary where a user fill with several information, and at the end it's possible to attach a file (image, doc, etc..). In Refit, to do this acording the documentaion is:

[code]
but if i need to pass that inform

[2019-08-28 16:31] benjaminhowarth1 commented on #587
@meeple142 OK, I think I know why, it's cause when we determined property types on POCOs for [Query] types, we simply call ToString(). We can extend IEnumerable support, but for any nested complex types, we'll update the documentation to insist you override ToString on the top-level POCO to handle your own serialization.

[2019-08-28 16:41] schallm opened #735 "Allow use of C# projects using Refit to be referenced VB.Net Projects"
We are writing a new web service in C# that will be called by other projects (some written in VB.Net).  We have written a client dll (C#) for the web service (C#) for other projects to use to consume the web service.  The client dll (C#) uses Refit to talk to the web services.

When adding a reference to the client dll (C#) within a VB.Net project and building, we receive errors from a RefitStubs.

[2019-08-28 16:57] benjaminhowarth1 commented on #587
@meeple142 @ajshiff big thanks to both of you for reproducible test cases, I'll take a look at these today.

[2019-08-28 17:04] benjaminhowarth1 commented on #712
@onovotny picking this up today alongside #696 and #587, hopefully I can get a PR in by tomorrow

[2019-08-28 17:04] benjaminhowarth1 commented on #735
Odd. I'll check this out.

[2019-08-28 20:02] benjaminhowarth1 commented on #728
As long as your WCF service supports RESTful communication (GET/POST/PUT/DELETE) and parameters in both the querystring and body, then yes, you should be able to use Refit just fine, however you might find "Add Service Reference" in Visual Studio a better wrapper around your API.

[2019-08-28 20:04] benjaminhowarth1 commented on #718
@robsonj can you provide a gist or sample that we can validate against your test case?

[2019-08-28 20:05] benjaminhowarth1 commented on #717
Ooh, generic interface injection using Reflection. Honestly, I don't think we've covered this as a use case before (hence AddRefitClient<T>), but I can see how that might be beneficial. Let me dig & get back to you.

[2019-08-28 20:08] benjaminhowarth1 commented on #714
@SergeyE85 if you've decided to use the MS OData client library, then that helps solve your use case, & I'd like to close this if you're OK with that.

Refit should work just fine with OData, but the number of query options available on an OData querystring, would mean that writing your own wrapper around an OData API, using Refit, would be far more effort than using an official OData client.

If

[2019-08-28 23:26] SOFSPEEL opened #736 "[BUG] CancellationToken fields put in query parameters of request"
**Steps To Reproduce**

Create a refit interface similar to the following:

[code]

Capture the http get request and see the following:

`{Method: GET, RequestUri: '.../getregistered?ApiVersion=2.1&FundraisingPlatform=1&DeviceId=blah&IsCancellationRequested=False&CanBeCanceled=True&WaitHandle.SafeWaitHandle.IsInvalid=False&WaitHandle.SafeWaitHandle.IsClosed=False',`

Note that the following query

[2019-08-28 23:50] benjaminhowarth1 commented on #728
'

[2019-08-28 23:50] #728 closed

[2019-08-28 23:51] #714 closed

[2019-08-29 03:27] rubenmonteiro commented on #728
Thanks, for the reply

[2019-08-29 19:39] ahmedalejo commented on #587
@ajshiff great find. That didn´t cross my mind!
[code]

[2019-08-29 19:44] ahmedalejo commented on #736
Not saying it isn´t a bug.
But the following
[code]
works as expected

[2019-08-29 21:21] SOFSPEEL commented on #736
Did a little further investigation, and now see that CancellationToken is in fact handled properly and ignored from a query params perspective, however CancellationToken? is not handled properly.

[2019-08-30 08:00] Leon99 opened #737 "System.ArgumentOutOfRangeException: 'Specified argument was out of the range of valid values. Parameter name: index'"
[code]
started to throw after updating to 4.7.51
[code]
Might be related to #712 but different trigger here.

[2019-09-01 15:07] martincostello opened #738 "[BUG] Using nullable reference types produces invalid C# (CS8632, CS8639)"
**Describe the bug**

If the new C# 8.0 nullable feature is enabled and used for any parameters on a Refit interface, invalid C# is generated which does not compile.

**Steps To Reproduce**

  * Open a project containing Refit where the project targets at least C# 8.0.
  * Enable nullable reference types (e.g. setting `<Nullable>enable</Nullable>` in the `.csproj` file).
  * Add a nullable referen

[2019-09-02 07:25] benjaminhowarth1 commented on #736
I'll pick this up.

[2019-09-02 07:29] #697 closed

[2019-09-03 15:45] jennablackwell commented on #737
this exception started happening for me as well

[2019-09-04 13:02] unique94 opened #739 "[BUG] After upgraded to 4.7.51, Refit fails Build on CLI, but succeed on VS2019"
**As decribed in headlines**

.nuget\packages\refit\4.7.51\buildTransitive\netstandard1.4\refit.targets(35,5): error MSB4062: The "Refit.Generator.Tasks.GenerateStubsTask" task could not be loaded from the assembly
.nuget\packages\refit\4.7.51\buildTransitive\netstandard1.4\..\..\build\MSBuildCore20\InterfaceStubGenerator.BuildTasks.dll. Assembly with same name is already loaded Confirm that the <

[2019-09-04 13:12] #739 closed

[2019-09-05 11:06] GlennArens commented on #739
how did you fix this?

[2019-09-09 14:46] Leks12lk commented on #737
Hi,
I see this issue as well.
It happens when attempt to use as query parameters those parameters that are not specified as a URL substitution.
So **this code does not work**
`[Get("api/someurl")]
Task<MyClass> Call([Header(""Authorization"")] string token, string param);`

**This code works:**
`[Get("api/someurl?param={param}")]
Task<MyClass> Call([Header(""Authorization"")] string token, string

[2019-09-11 12:53] jabbera opened #741 "Strong name"
I understand this is a duplicate request, but the last request was 2 years ago. This is a very popular package, not having it strong named is very unpleasant. It makes it very difficult to use. Please reconsider strong naming or publish some guidance on how to strong name it.

I'm trying to reference refit from a library that will then be used by other teams. I cannot simply package my own copy of

[2019-09-12 11:16] Basti82b opened #742 ""Get" annotation with parameters only"
**Is your feature request related to a problem? Please describe.**

"URL path &type=address&input={query} must be of the form '/foo/bar/baz'"

**Describe the solution you'd like**

[Get(&type=address&input={query})]

**Additional context**

https://developers.google.com/places/web-service/autocomplete

[2019-09-12 17:55] lobster2012-user opened #743 "[BUG] Constant strings in attributes not treated like regular strings"
**Describe the bug**

build - **OK**
runtime - **OK**
[code]

compile - OK
runtime - **FAILED:doesn't look like a Refit interface**
[code]

It seems the problem is here.

[code]
Is it possible to fix it?

[2019-09-12 17:58] lobster2012-user opened #744 "Compile-Time check RestService.For<...>"
For various reasons, you might get an error **"doesn't look like a Refit interface"**
during program execution.
I suggest embedding this check during build where possible.

[2019-09-12 19:20] #743 closed, assigned to nobody

[2019-09-12 21:55] holotrek opened #745 "[BUG] AddRefitClient non-generic version does not register service"
**Describe the bug**

When registering the refit client with the `HttpClientFactoryExtensions` using the method overload that takes in a runtime type (i.e. `services.AddRefitClient(myInterfaceType, settings)`), the service is not registered as it is with the generic version. This is due to it missing the line `services.AddSingleton(provider => RequestBuilder.ForType(refitInterfaceType, settings));

[2019-09-15 17:08] lobster2012-user commented on #263
Hi!
The builder works with the attribute. I do not see the need for the latter condition, commented it out, now you can use everything that is allowed in the attributes.
Perhaps my English is not very good, I still do not understand why this condition is necessary.

Why do we need these constants? At a minimum, to avoid code duplication (In my case)

[code]
[code]

[2019-09-15 17:19] lobster2012-user commented on #745
It looks like a bug.
https://github.com/reactiveui/refit/blob/master/Refit.HttpClientFactory/HttpClientFactoryExtensions.cs

You can do PR.

[2019-09-16 19:37] zeusmos opened #747 "Sample project with full examples ?"
is there a sample project with at most functionalities ?

[2019-09-17 00:01] CreepyGnome commented on #712
@benjaminhowarth1 did you happen to make any progress on this?

[2019-09-17 17:49] CreepyGnome commented on #712
Just additional confirmation, that for me at least, in 4.7.51 it is the header attribute being first and moving it to after query string values it works, and making no changes and rolling back to 4.7.9 works.

I rolled back to 4.7.9 as this is a breaking change in a patch version which should never occur. Also I would argue this type of breaking change should happen in a minor version as well.  Ev

[2019-09-19 05:44] 362486122 commented on #745
I also got this problem.here is my solution.

1.

[code]

2. Add a new AddRefitClient method
[code]

[2019-09-21 10:51] alrz commented on #318
It doesn't work with constants either. it's extremely useful to use constant paths e.g to use in test cases.

[2019-09-22 12:37] endeffects commented on #689
@onovotny Could you please have a look into this? Refit should be able to override this HttpClientFactory settings especially for authorization.

[2019-09-22 12:43] onovotny commented on #689
PR's with related unit tests are welcome!

I've been busy and haven't had time to look into this.

[2019-09-24 12:46] DanBiscotti commented on #522
How was this fixed? Do I add the Query attribute to the property declaration (in the request object) now? I'm still getting the .ToString() encoding as Wozzo mentioned

[2019-09-27 17:21] marioffmarques commented on #730
Any news on this ?

[2019-09-28 22:10] ergometh opened #756 "Refit fails to build on .NET Core 3.0.100"
Similarly to #619 , project with Refit dependency doesn't build on new version of .NET Core 3.0.100.
However on .NET Core 2.2.401 it builds without a problem.

`error MSB4062: The "Refit.Generator.Tasks.GenerateStubsTask" task could not be loaded from the assembly C:\windows\system32\config\systemprofile\.nuget\packages\refit\4.7.51\buildTransitive\netstandard1.4\..\..\build\MSBuildCore20\Interfac

[2019-09-28 22:19] onovotny commented on #756
If you just updated references, you might need to restart VS?

Sent from a mobile device, please excuse brevity and typos
________________________________
From: Piotr Majewski <notifications@github.com>
Sent: Saturday, September 28, 2019 6:10:55 PM
To: reactiveui/refit <refit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [reactiveui/refit] Refit fails to build on .NET

[2019-09-29 00:24] ergometh commented on #756
Problem was on the CI machine, but when updated to the Refit 4.7.9 version problem is gone. Thank you for help.

[2019-09-29 00:24] #756 closed

[2019-10-04 06:34] SWarnberg commented on #737
It's a breaking change.

[2019-10-04 12:25] ledragon101 commented on #734
Hi,

I think I am experiencing the same issue:

[Multipart]
[Post("/api/job/AddImageBank")]
Task<HttpResponseMessage> AddImageBanks([Body] IEnumerable<ImageBankDto> imageBanks, CancellationToken cancellationToken);

Where ImageBankDto is something like (more properties exist):

{
    public int Id
    public string Description { get; set; }
    public StreamPart ImageFile { get; set; }
}

Initiall

[2019-10-04 20:25] candidodmv commented on #734
Hi @ledragon101 !  In your scenario, I try to follow the idea to proccess one by one item, because this approach of to send IEnumerable could have unexpected results.  You could try to store the items that you want so sent locally and proccess and if succeed you mak as done, this can be useful too if happed fail.  so, you do as follows I mentioned above, separate the properties of the model and se

[2019-10-05 12:59] ledragon101 commented on #734
@candidodmv Hi Thanks for the reply. I do actually proecss the way you suggest by storing locally first and marking as sent upon success response. Originally I was converting images to base64 string but I'm having memory issues and garbage collection is slowing down the overall time of the request. This is why I thought I'd try sending as multipart - but that's another issue. I have tried sending

[2019-10-07 18:01] candidodmv commented on #734
@ledragon101 your idea to try send all in one time to turn the process more quick can be a missconception, because the fact that you are sending one request with 10mb of payload is equal to send 10 requests of 100kb. You need consider that your final user can be using any kind of device, with less hardware or connection speed to low, and so on, all of this can make impossible to complete the opera

[2019-10-07 19:55] Kopkins commented on #737
I do see this happening in v4.7.9. The following code snippet reproduces the problem for me.
        `[Get("/documentcontent")]
        Task<DocumentContent> GetDocumentContent([Query] int documentId);`

[2019-10-08 11:46] csteeg opened #759 "[BUG] Summary of item"
**Describe the bug**

Multipart post with a stream fails if I have a url-parameter first.
So
[code]
works, but
[code]
does not! It throws an KeyNotFoundException in the RequestBuilderImplementation
I think this is because of the update in https://github.com/reactiveui/refit/commit/e5dff69f71f11a8b200d8b51daa79103ba2dee06#diff-ef1e95d8d69943f1b3f91e27c7bd5986
In this commit, a queryParamShift is in

[2019-10-08 15:25] onovotny opened #760 "Review targets"
Review targets to ensure we set outputs and filewrites correctly:

https://gist.github.com/KirillOsenkov/f20cb84d37a89b01db63f8aafe03f19b#gistcomment-3049169

[2019-10-10 15:32] bingnz opened #761 "[BUG] QueryAttribute no longer supports IEnumerable<T> parameters."
**Describe the bug**
In version 4.7.9, an interface with the following signature
[code]
would correctly generate a query parameter like `?items=1,2,3`.

In version 4.7.51, this has regressed and in order for the correct query string to be generated I needed to change the type of `ids` from `IEnumerable<int>` to `int[]`, otherwise the query string is incorrectly serialized as something like `?items

[2019-10-11 11:29] Papakura opened #764 "Deserializing SOAP throws exception"
Using Refit to communicate with a SOAP service a succesful response is received. but an
"InvalidOperation" exception is thrown in XmlSerialize ( called from XmlContentSerialize)

The error message is
_&lt;Envelope xmlns='http://schemas.xmlsoap.org/soap/envelope/'> was not expected._
and
_There is an error in XML document (1, 2)._

The incoming content is of the form

_<SOAP-ENV:Envelope xmlns:SOAP

[2019-10-12 04:17] acclaimuser commented on #558
@lukepuplett, Is there any workaround you are doing for this, facing the same case as you.

[2019-10-12 04:51] acclaimuser commented on #558
This works for me though.

`if (apiResponse.Error != null)
            {
                throw apiResponse.Error;
            }
            var response = apiResponse.Content;
            return response;`

[2019-10-12 06:31] fouadroumieh commented on #712
This issue is not fixed in 4.7.51 and its quite critical issue, my first time using refit and its quite annoying!

[2019-10-12 10:59] lukepuplett commented on #558
@acclaimuser Unfortunately I'm no longer with that team, so I can't look-up any workaround code cc @Dilsy99

[2019-10-14 10:22] ppasieka opened #765 "[BUG] The given key '<key_here>' was not present in the dictionary"
**Describe the bug**
After updating to v4.7.51 my client stopped to work.

[code]

**Steps To Reproduce**

Create Refit client with method signature

[code]

**Expected behavior**

Multipart file upload should work.
One part of the upload is a file stream
Second are form data

**Environment**

- OS:      Windows 10, Windows Server 2016 and Docker containers
- Device:
- Version:   v4.7.51
- Working

[2019-10-17 05:45] girtsl commented on #737
Any progress on this? Updating a *patch* version from 4.7.9 to 4.7.51 broke things for us, too. If this is by design, this is a breaking change. If it's a bug, it should likely be given a higher priority.

[2019-10-17 07:43] HelloKitty opened #766 "[BUG] Nameof in HTTP Action Path Throws at Runtime"
**Describe the bug**

Nameof used in the path of HTTP action attributes of Refit causes Refit to fail to generate and at runtime throws an exception that claims the interface doesn't appear to be a Refit interface.

**Steps To Reproduce**

See Example: https://github.com/gladmmo/GladMMO.Library/commit/fd11c2e5ece2e754574013a673a6036d6eb182ef

**Expected behavior**

Refit should support nameof conc

[2019-10-17 11:45] onovotny commented on #737
@benjaminhowarth1 any luck with the fix to this issue?

@SWarnberg this is not intentional, it's a bug.

[2019-10-17 11:57] girtsl commented on #737
@onovotny, thanks, I'm full aware of it. In case my previous comment came across as an arrogant one, it was not. It was merely meant as an indicator that the issue is not limited to a few obscure scenarios.
Seeing how this breaking change was discovered on August 30 and how easy it is to trip on it, I thought it would've attracted more attention from the maintainers who are in a much better positi

[2019-10-19 16:04] #761 closed

[2019-10-21 15:42] PageEngine commented on #765
Same bug here. Rollback to 4.7.9 fixes it. My implementation:
[code]

[2019-10-21 16:22] ppasieka commented on #765
You are very lucky that you could rollback :) It won't work in my case. 4.7.51 is already used in multiple other nugets in my company. I had to switch to classic typed HttpClient for upload scenarios.

Later I read that putting StreamPart on the first position of the arguments list works fine

[2019-10-22 08:28] vlapenkov opened #768 "The same dto class names with different namespaces"
Hi.
We got error in Refitstubs.g.cs if i use two dto objects with different namespaces. How to solve this problem?
CS0104	'BillObjectDto" является неоднозначной ссылкой между "TNE.BillMoney.Contracts.Dto.Accruals.BillObjectDto" и "TNE.BillMoney.Contracts.Dto.Nsi.BillObjectDto"

Thank you in advance!

[2019-10-22 16:56] xumix opened #769 "[BUG] Refit uses wrong method/url for service if parameter types have same name but diff namespaces"
**Describe the bug**
Refit uses wrong method/url for service if parameter types have same name but diff namespaces
For example:
[code]

I suppose the problem is in `CachedRequestBuilderImplementation` method `GetArgumentString`. It uses type name instead of `FullName`. Same problem is also valid for `GetGenericString` method.

**Steps To Reproduce**

1. Create an interface with polymorphic methods

[2019-10-24 13:11] ehinolakingsley commented on #765
Thanks @ppasieka. That fixed it. Been battling with it for hours

[2019-10-24 13:20] srollinet commented on #765
I have the same problem with version 4.7.9 for this request

[code]

I have to stay on version 4.6.107

[2019-10-25 07:30] Gakk commented on #653
I already have project using System.Text.Json to (de)serialize REST API. Would love to implement Refit, but I would like to not depend on Newtonsoft.Json or change attributes to control serialization of property names.

[2019-10-27 21:04] Styxxy commented on #768
Duplicate with #769

[2019-10-28 12:51] #769 closed

[2019-10-28 12:53] onovotny commented on #768
The quickest workaround for this that wouldn't require any Refit updates is to fully qualify the namespaces in your interfaces.

I'm not sure that Refit can fix this directly as it's syntactic analysis, not a full roslyn workspace. It doesn't know any more than it can "see" in those few interface snippets.

[2019-10-28 12:54] onovotny commented on #712
@benjaminhowarth1 any updates here?

[2019-10-29 08:54] ghd258 opened #771 "Package support Polly? If not, can we support it?"
Package support Polly? If not, can we support it?

[2019-10-29 14:59] Cheesebaron commented on #771
Can you elaborate please? I have no idea what you are asking about here.

[2019-10-30 01:14] ghd258 commented on #771
https://github.com/App-vNext/Polly   or Microsoft.Extensions.Http.Polly

services.AddHttpApiTypedClient<IDemoApi>(config => { })
    .ConfigurePrimaryHttpMessageHandler(() => new HttpClientHandler() { UseProxy = false })
    //fallback
     .AddPolicyHandler(Policy<HttpResponseMessage>.Handle<Exception>().FallbackAsync((ctx, ct) =>
     {
            return Task.FromResult(new HttpResponseMessage

[2019-10-30 01:15] ghd258 commented on #771
Polly is a .NET resilience and transient-fault-handling library that allows developers to express policies such as Retry, Circuit Breaker, Timeout, Bulkhead Isolation, and Fallback in a fluent and thread-safe manner

[2019-10-30 01:17] onovotny commented on #771
Not sure what you need here. You can wrap your calls to the API with Polly and have it retry. Plenty of people use it that way.

[2019-10-30 01:19] ghd258 commented on #771
Can you give me an example of a demo

[2019-10-30 01:23] onovotny commented on #771
Use/configure Polly normally. Then put the call to the refit-generated interface in the `ExecuteAsync` part:
https://github.com/App-vNext/Polly#step-1--configure

[2019-10-30 13:08] HelloKitty commented on #739
I encounter this too.

[2019-10-30 21:03] onovotny commented on #765
I'm going to get this pushed to NuGet shortly but please validate that the fixes work for you in 4.8.10 or later -- the package is on the CI feed:

https://dev.azure.com/dotnet/ReactiveUI/_packaging?_a=package&feed=6368ad76-9653-4c2f-a6c6-da8c790ae826&package=2f65cb3b-df09-4050-a84e-b868ed95fd28&preferRelease=true

`https://pkgs.dev.azure.com/dotnet/ReactiveUI/_packaging/Refit/nuget/v3/index.json`

[2019-10-30 21:41] brminnick commented on #765
Thanks @onovotny.

I can confirm that v4.8.10 fixed this bug for me 🙌

[2019-10-31 00:21] onovotny commented on #771
Closing as a question and by-design. This scenario is already supported.

[2019-10-31 00:21] #771 closed

[2019-10-31 00:40] #760 closed

[2019-10-31 13:09] onovotny commented on #737
Fixed by #772

[2019-10-31 13:09] #737 closed

[2019-10-31 13:14] onovotny commented on #765
Fixed by #772

[2019-10-31 13:14] #765 closed

[2019-10-31 13:26] onovotny commented on #741
This is done in master / CI. Version 5 will have a strong name. If you need it immediately, please use the Azure Artifacts feed to get it.

[2019-10-31 13:26] #741 closed

[2019-11-01 04:55] #744 closed

[2019-11-02 21:57] panoukos41 opened #774 "[BUG] RefitStubs.g.cs ExcludeFromCodeCoverage and Obfuscation(Exclude=true) attributes don't exist in .Net Standard1.4"
**Describe the bug**

The following types are not available in .net standard 1.4 but the generated file contains them so the app can't build.

System.Reflection.Obfuscation(Exclude=true)
System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage

I use .net standard 1.4 as a shared library and i create my RestService using refit there to consume it on all the platforms/projects.

**Steps To Reproduce

[2019-11-02 22:10] onovotny commented on #774
The workaround is to define those yourself as internal attributes. I'm going to mark this as `wontfix` though since we're about to drop `netstandard1.4` suport anyway.

[2019-11-02 22:10] #774 closed

[2019-11-02 23:27] panoukos41 commented on #774
Thanks a lot for the quick response, i am still getting used to attributes.
Great solution i will remember it  for the next time i have issues with something like that ^_^!!

[2019-11-04 16:49] Ethicmeta opened #775 "Interface inheritance results in "doesn't look like a Refit interface" exception"
In an effort to keep our code clean, we're attempting to segregate our refit interface into a base interface that inherits the controller refit interfaces.

`    public interface IWebApiRefit : IAccountController, IContactController
    {
    }
`

[code]

[code]

This code is built as a nuget package with a reference to Refit package v4.7.51.

If there's a way I can implement the interface with a

[2019-11-05 15:00] OlesKorzhynskiy opened #777 "Can't send array of complex objects as query params"
Trying to send request using Refit to controller:
[HttpGet("api/users/{userId}/roles")]
public async Task<IActionResult> Get(Guid userId, [FromQuery] FilterRow[] filters = null) {..}

Added interface with this method:
[Get("/api/users/{userId}/roles")]
Task<IEnumerable<ReadModel>> Get([AliasAs("userId")] Guid userId, [AliasAs("filters")] FilterRow[] filters);

FilterRow:
public class FilterRow

[2019-11-08 09:16] ousspero commented on #229
an hour you are good, it took a day for me

[2019-11-11 05:55] bo3po opened #780 "[BUG] Unable to set in header Content-Type application/json for GET"
**Describe the bug**
Unable to make refit set/send the header [Content-Type application/json] at all. I can set it and it will send just about anything else at it will work.

**Steps To Reproduce**
Open the "Meow" project and make it send a Content-Type application/json - that will not work.

**Expected behavior**
The "Meow" has a output showing what is send. It's not in the request headers.

**En

[2019-11-11 14:40] amoorthaemer opened #781 "[BUG] ApiException's Content property shouldnt assume the content is always a string"
Hi,
I'm using Refit to as a proxy layer between the client and an API. The API returns BSON and I'm using a BSON IContentSerializer implementation for Refit.

When I get a non 200-range status code from the API (e.g. 404), Refit throws an ApiException. Which is fine ... what isn't fine, is the fact that I loose content because the content is converted into a string on the ApiException instance and

[2019-11-12 06:26] ppasieka commented on #780
Hi! @bo3po ,

Are you sending a body with your GET request? If not then specifying Content-Type is pointless.
From the other hand if you expect to get a response where the content-type is `application/json` then you probably want to use `Accept application/json` header

The majority of situations, GET request is sent without a body (at least I never have seen it)

[2019-11-12 07:13] bo3po commented on #780
Hi

a body in a get request? no. ok. i'll explain this. it might be me not
knowing what i'm doing. i have this service from a thired party that i need
to talk to. i use postman for debugging and see what is going on. i use it
to see how i should shape the request. then i do not have "Content-Type:
application/json" on my get request i get something like this ({"d":true})
<- with the ( and ). when